# <span style="color:blue"> SEMÁFORO GENERAL 2022 - 2024 </span>

In [1]:
#Importar paquetes
import pandas as pd
import numpy as np
import os
from datetime import datetime, timedelta

from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
#Importamos variables temporales
now = datetime.now()
ayer = datetime.now() - timedelta(days=1)
anteayer = datetime.now() - timedelta(days=2)

# la fecha de corte es la más actual
fecha_corte = now.strftime("%d") + now.strftime("%m") + now.strftime("%Y") # es la fecha actual en formato dd/mm/yyyy
print(now.strftime("%d") + '-' + now.strftime("%m") + '-' + now.strftime("%Y"))

03-05-2024

In [3]:
# Para limpiar variables duplicadas luego de un merge
def postmerge(df):
    replace_list = [i for i in df.columns if (i.endswith('_x'))]
    replace_list = [i[:-2] for i in replace_list]
    for i in replace_list:
        df[i] = df[i+'_x'].fillna(df[i+'_y'])
    df.drop([i for i in df.columns if (i.endswith('_x'))|(i.endswith('_y'))], inplace=True, axis=1)
    return df

# Para crear el COD_ID de la ejecutora
def crear_id(df, NIVEL_GOB, SECTOR, PLIEGO, EJECUTORA):
    df = df.assign(COD_ID = np.where(df[NIVEL_GOB].str.startswith('2'), (df[PLIEGO].str.split('. ', n=1).str[0] +"-" + df[EJECUTORA].str.split('. ', n=1).str[0]),
                                     (df[SECTOR].str.split('. ', n=1).str[0] +"-" + df[PLIEGO].str.split('. ', n=1).str[0] +"-"+ df[EJECUTORA].str.split('. ', n=1).str[0])))
    return df

In [4]:
print(datetime.now())

#Importar bases de datos
anexo1_f = pd.read_excel(os.path.join(r'Y:\Herramienta_Semáforo\Bases', 'anexo1_f' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
anexo2_f= pd.read_excel(os.path.join(r'Y:\Herramienta_Semáforo\Bases', 'anexo2_f' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
app_f= pd.read_excel(os.path.join(r'Y:\Herramienta_Semáforo\Bases', 'app_f' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
disp_legal_desf= pd.read_excel(os.path.join(r'Y:\Herramienta_Semáforo\Bases', 'disp_legal_desf' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
oxi_f= pd.read_excel(os.path.join(r'Y:\Herramienta_Semáforo\Bases', 'oxi_f' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
pl_2020_f= pd.read_excel(os.path.join(r'Y:\Herramienta_Semáforo\Bases', 'pl_2020_f' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
plantilla_2021_f= pd.read_excel(os.path.join(r'Y:\Herramienta_Semáforo\Bases', 'plantilla_2021_f' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
plantilla_2022_f= pd.read_excel(os.path.join(r'Y:\Herramienta_Semáforo\Bases', 'plantilla_2022_f' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
estructura2_gngrgl2023 = pd.read_excel(os.path.join(r'Z:\Proyectos de Inversion\Estructura2-2023', 'Estructura2_GNGRGLMN_Proy2023_' + '07032024' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
estructura2_gngrgl2024 = pd.read_excel(os.path.join(r'Z:\Proyectos de Inversion\Estructura2-2024', 'Estructura2_GNGRGLMN_Proy2024_' + fecha_corte + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
estructura3 = pd.read_excel(os.path.join(r'Z:\Proyectos de Inversion\Estructura3-2024', 'Proyectos_Invierte_NoExisten_estructura2_' + fecha_corte + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
bsec_ejec = pd.read_excel(os.path.join(r'C:\Users\jchamba\Documents\Jannely\BASES', 'SEC_EJEC_UBIGEO' + ".xlsx"), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
contratos22_glgrgn = pd.read_excel(os.path.join(r'Z:\Proyectos de Inversion\Interfaz SEACE - SIAF\Continuidad 2022-2023', 'exportContinuidad_GNGRGL_proyectos_21012024' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
contratos23_glgrgn = pd.read_excel(os.path.join(r'Z:\Proyectos de Inversion\Interfaz SEACE - SIAF\Continuidad 2024-2025', 'exportContinuidad_GNGRGL_proyectos_20240226' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
procesos23_glgrgn = pd.read_excel(os.path.join(r'Z:\Proyectos de Inversion\Interfaz SEACE - SIAF\Continuidad 2024-2025', 'procesosSinContratos_GNGRGL_proyectos_20240225' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
seg_fis = pd.read_excel(os.path.join(r'Z:\Proyectos de Inversion\Formato-12B', 'SEGUIMIENTO_FINANCIERO' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
plantillax_2023 = pd.read_excel(os.path.join(r'Y:\Herramienta_Semáforo\Bases', 'plantillax_2023_f' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
plantillax_2024 = pd.read_excel(os.path.join(r'Y:\Herramienta_Semáforo\Bases', 'plantillax_2024_f' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
trans_xfte_19 = pd.read_excel(os.path.join(r'Y:\Herramienta_Semáforo\Bases', "trans_2019_f" + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
trans_xfte_20 = pd.read_excel(os.path.join(r'Y:\Herramienta_Semáforo\Bases', "trans_2020_f" + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
trans_xfte_21 = pd.read_excel(os.path.join(r'Y:\Herramienta_Semáforo\Bases', "trans_2021_f" + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
trans_xfte_22 = pd.read_excel(os.path.join(r'Y:\Herramienta_Semáforo\Bases', "trans_2022_f" + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
trans_xfte_23 = pd.read_excel(os.path.join(r'Y:\2. Análisis Presupuestal\2.2. Inversiones\BASES', "Transferencias 2023 - GR's GL's" + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
fondes2019 = pd.read_excel(os.path.join(r'Z:\Seguimiento del Gasto\Fondes\2019', 'FONDES_2019_DET_08062021' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
fondes2020 = pd.read_excel(os.path.join(r'Z:\Seguimiento del Gasto\Fondes\2020', 'FONDES_DET_2020_17122020'  + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
fondes2021 = pd.read_excel(os.path.join(r'Z:\Seguimiento del Gasto\Fondes\2021', 'FONDES_DET_2021_07012021' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
fondes2022 = pd.read_excel(os.path.join(r'Z:\Seguimiento del Gasto\Fondes\2022', 'FONDES_DET_2022_03012024' + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})
fondes2023 = pd.read_excel(os.path.join(r'Z:\Seguimiento del Gasto\Fondes\2023', 'FONDES_DET_2023_' + fecha_corte + '.xlsx'), dtype={'ID_PLIEGO': str, 'CODIGOSIAF': str})

print(datetime.now())

2024-05-03 09:48:43.578812

C:\Users\jchamba\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\jchamba\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\jchamba\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\jchamba\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\jchamba\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\jchamba\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\jchamba\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\jchamba\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\jchamba\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\jchamba\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2024-05-03 10:52:00.774798

### Base de inversiones 2022-2023

In [5]:
estr_22_23= estructura2_gngrgl2023.copy()
# Calcular las columnas DEV_2023 y DEV_2022
estr_22_23['DEV_2023'] = estr_22_23[['DEV_ENE_SIAF2023', 'DEV_FEB_SIAF2023', 'DEV_MAR_SIAF2023', 'DEV_ABR_SIAF2023', 'DEV_MAY_SIAF2023', 'DEV_JUN_SIAF2023', 'DEV_JUL_SIAF2023', 'DEV_AGO_SIAF2023', 'DEV_SET_SIAF2023', 'DEV_OCT_SIAF2023', 'DEV_NOV_SIAF2023' , 'DEV_DIC_SIAF2023']].sum(axis=1)
estr_22_23['DEV_2022'] = estr_22_23[['DEV_ENE2022', 'DEV_FEB2022', 'DEV_MAR2022', 'DEV_ABR2022', 'DEV_MAY2022', 'DEV_JUN2022', 'DEV_JUL2022', 'DEV_AGO2022', 'DEV_SET2022', 'DEV_OCT2022', 'DEV_NOV2022' , 'DEV_DIC2022']].sum(axis=1)

estr_22_23['ID_PLIEGO'] = np.where(estr_22_23['NIVEL_GOB'].str[0].isin({'3', '1'}),
                                   estr_22_23['SECTOR'].str.split('.').str[0] +
                                   estr_22_23['PLIEGO'].str.split('.').str[0] +
                                   estr_22_23['EJECUTORA'].str.split('.').str[0],
                                   np.where(estr_22_23['NIVEL_GOB'].str.contains('2.'),
                                            estr_22_23['SECTOR'].str.split('.').str[0] +
                                            estr_22_23['PLIEGO'].str.split('.').str[0], ' '))

#Renombrar Código SIAF

estr_22_23.rename(columns={'CODIGO_UNICO':'CODIGOSIAF'}, inplace=True)

estr_22_23['ID_PLIEGO'] = estr_22_23['ID_PLIEGO'].astype(str)
estr_22_23['CODIGOSIAF'] = estr_22_23['CODIGOSIAF'].astype(str)

# Realizar las sustituciones en SECTOR y PLIEGO según condiciones
estr_22_23.loc[estr_22_23['ID_PLIEGO'] == "21021001", 'SECTOR'] = "21. CONSEJO NACIONAL DE LA MAGISTRATURA"
estr_22_23.loc[estr_22_23['ID_PLIEGO'] == "21021001", 'PLIEGO'] = "021. JUNTA NACIONAL DE JUSTICIA"

estr_22_23.loc[estr_22_23['SECTOR'] == "13. AGRICULTURA", 'SECTOR'] = "13. AGRARIO Y DE RIEGO"
estr_22_23.loc[estr_22_23['PLIEGO'] == "013. M. DE AGRICULTURA Y RIEGO", 'PLIEGO'] = "013. MINISTERIO DE DESARROLLO AGRARIO Y RIEGO"

#Seleccionar columnas específicas
estr_22_23 = estr_22_23[['CODIGO_OBRA', 'PIA_SIAF_2023', 'PIM_SIAF_2023', 'CERTIF_ANUAL_SIAF_2023', 'COMP_ANUAL_SIAF_2023', 'DEV_2023',
                        'PIA_SIAF2022', 'PIM_SIAF2022', 'DEV_2022', 'FUNCION', 'TIPO_PROYECTO', 'NOMBRE_PROYECTO', 'CERRADO_BCO',
                        'ACM_DEV_AL2022', 'COSTO_ACTUAL_BCO', 'SITUACION_BCO', 'ESTADO_BCO', 'IND_INACTIVO_DEFINITIVO_BCO',
                        'EXP_TCO_BCO', 'DEPARTAMENTO_BCO', 'PROVINCIA_BCO', 'DISTRITO_BCO', 'PLIEGO', 'EJECUTORA', 'ID_PLIEGO',
                        'CODIGOSIAF', 'NIVEL_GOB', 'SECTOR']]

# Eliminar duplicados
estr_22_23.drop_duplicates(inplace=True)

# Realizar la agregación de columnas utilizando groupby

estr_22_23 = estr_22_23.groupby(['ID_PLIEGO', 'CODIGOSIAF']).agg({'PIA_SIAF_2023': 'sum', 'PIM_SIAF_2023': 'sum', 'CERTIF_ANUAL_SIAF_2023': 'sum', 'COMP_ANUAL_SIAF_2023': 'sum', 'DEV_2023': 'sum',
                                                                                               'PIA_SIAF2022': 'sum', 'PIM_SIAF2022': 'sum', 'DEV_2022': 'sum', 'FUNCION': 'first', 'TIPO_PROYECTO': 'first',
                                                                                               'NOMBRE_PROYECTO': 'first', 'CERRADO_BCO': 'first', 'ACM_DEV_AL2022': 'max', 'COSTO_ACTUAL_BCO': 'max',
                                                                                               'SITUACION_BCO': 'first', 'ESTADO_BCO': 'first', 'IND_INACTIVO_DEFINITIVO_BCO': 'first', 'EXP_TCO_BCO': 'first',
                                                                                               'DEPARTAMENTO_BCO': 'first', 'PROVINCIA_BCO': 'first', 'DISTRITO_BCO': 'first', 'PLIEGO': 'first', 'EJECUTORA': 'first', 
                                                                                              'NIVEL_GOB' : 'first', 'SECTOR': 'first'}).reset_index()

# Crear columnas DEPARTAMENTO, PROVINCIA y DISTRITO

# Agregar la columna 'DEPARTAMENTO' basada en la condición
estr_22_23['DEPARTAMENTO'] = estr_22_23['DEPARTAMENTO_BCO']


estr_22_23.loc[(estr_22_23['ID_PLIEGO'] == "99463") | ((estr_22_23['SECTOR'].str.contains("15.")) & 
                                                        (estr_22_23['PLIEGO'].str.contains("01.") == False) & 
                                                        (estr_22_23['NIVEL_GOB'].str.contains("3."))), 'DEPARTAMENTO'] = "LIMA PROVINCIAS"

estr_22_23.loc[(estr_22_23['ID_PLIEGO'] == "99465") | ((estr_22_23['ID_PLIEGO'].str[:4] == "1501") & 
                                                        (estr_22_23['NIVEL_GOB'].str.contains("3."))), 'DEPARTAMENTO'] = "LIMA METROPOLITANA"


# Agregar la columna 'PROVINCIA' basada en la condición
estr_22_23['PROVINCIA'] = estr_22_23['PROVINCIA_BCO']


estr_22_23['PROVINCIA'] = estr_22_23['PROVINCIA'].replace({'PROVINCIA CONSTITUCIONAL DEL CALLAO':'CALLAO'})

# Agregar la columna 'DISTRITO' basada en la condición

estr_22_23['DISTRITO'] = estr_22_23['DISTRITO_BCO']


# Ordenar la Base
estr_22_23.rename(columns={'FUNCION' : 'FUNCION_BCO', 'PIA_SIAF2022' : 'PIA_2022',  'PIM_SIAF2022' : 'PIM_2022', 'CERTIF_ANUAL_SIAF_2023' : 'CERT_2023', 'COMP_ANUAL_SIAF_2023': 'COMP_2023', 'POR_AVANCE_FISICO': 'AVANCE_FISICO'}, inplace=True)

estr_22_23 = estr_22_23[['ID_PLIEGO', 'CODIGOSIAF', 'NIVEL_GOB', 'SECTOR', 'PLIEGO', 'EJECUTORA', 'NOMBRE_PROYECTO',
                        'FUNCION_BCO', 'CERRADO_BCO', 'ESTADO_BCO', 'PIA_2022', 'PIM_2022', 'DEV_2022',
                        'SITUACION_BCO', 'COSTO_ACTUAL_BCO', 'TIPO_PROYECTO', 'ACM_DEV_AL2022', 'EXP_TCO_BCO',
                        'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'CERT_2023', 'COMP_2023']]

estr_22_23 = estr_22_23.fillna(' ')
estr_22_23.info()
estr_22_23.head()
print('PIA_2022: ', '{:,.0f}'.format(estr_22_23.PIA_2022.sum()))
print('PIM_2022: ', '{:,.0f}'.format(estr_22_23.PIM_2022.sum()))
print('DEV_2022: ', '{:,.0f}'.format(estr_22_23.DEV_2022.sum()))
print('COSTO_ACTUAL_BCO: ', '{:,.0f}'.format(estr_22_23.COSTO_ACTUAL_BCO.sum()))
print('ACM_DEV_AL2022: ', '{:,.0f}'.format(estr_22_23.ACM_DEV_AL2022.sum()))
print('CERT_2023: ', '{:,.0f}'.format(estr_22_23.CERT_2023.sum()))
print('COMP_2023: ', '{:,.0f}'.format(estr_22_23.COMP_2023.sum()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102248 entries, 0 to 102247
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID_PLIEGO         102248 non-null  object
 1   CODIGOSIAF        102248 non-null  object
 2   NIVEL_GOB         102248 non-null  object
 3   SECTOR            102248 non-null  object
 4   PLIEGO            102248 non-null  object
 5   EJECUTORA         102248 non-null  object
 6   NOMBRE_PROYECTO   102248 non-null  object
 7   FUNCION_BCO       102248 non-null  object
 8   CERRADO_BCO       102248 non-null  object
 9   ESTADO_BCO        102248 non-null  object
 10  PIA_2022          102248 non-null  int64
 11  PIM_2022          102248 non-null  int64
 12  DEV_2022          102248 non-null  float64
 13  SITUACION_BCO     102248 non-null  object
 14  COSTO_ACTUAL_BCO  102248 non-null  float64
 15  TIPO_PROYECTO     102248 non-null  object
 16  ACM_DEV_AL2022    102248 non-null  float64
 17  EXP_TCO_BCO       102248 non-null  object
 18  DEPARTAMENTO      102248 non-null  object
 19  PROVINCIA         102248 non-null  object
 20  DISTRITO          102248 non-null  object
 21  CERT_2023         102248 non-null  float64
 22  COMP_2023         102248 non-null  float64
dtypes: float64(5), int64(2), object(16)
memory usage: 17.9+ MB
PIA_2022:  41,939,670,965
PIM_2022:  65,005,084,391
DEV_2022:  46,266,682,930
COSTO_ACTUAL_BCO:  935,051,170,912
ACM_DEV_AL2022:  276,953,549,588
CERT_2023:  59,532,094,694
COMP_2023:  53,964,506,305

###  Base de inversiones 2023-2024

In [6]:
estr_23_24= estructura2_gngrgl2024.copy()
# Calcular las columnas DEV_2023 y DEV_2024
estr_23_24['DEV_2024'] = estr_23_24[['DEV_ENE_SIAF2024', 'DEV_FEB_SIAF2024', 'DEV_MAR_SIAF2024', 'DEV_ABR_SIAF2024', 'DEV_MAY_SIAF2024', 'DEV_JUN_SIAF2024', 'DEV_JUL_SIAF2024', 'DEV_AGO_SIAF2024', 'DEV_SET_SIAF2024', 'DEV_OCT_SIAF2024', 'DEV_NOV_SIAF2024' , 'DEV_DIC_SIAF2024']].sum(axis=1)
estr_23_24['DEV_2023'] = estr_23_24[['DEV_ENE2023', 'DEV_FEB2023', 'DEV_MAR2023', 'DEV_ABR2023', 'DEV_MAY2023', 'DEV_JUN2023', 'DEV_JUL2023', 'DEV_AGO2023', 'DEV_SET2023', 'DEV_OCT2023', 'DEV_NOV2023' , 'DEV_DIC2023']].sum(axis=1)

# Generar ID_PLIEGO

estr_23_24['ID_PLIEGO'] = np.where(estr_23_24['NIVEL_GOB'].str[0].isin({'3', '1'}),
                                   estr_23_24['SECTOR'].str.split('.').str[0] +
                                   estr_23_24['PLIEGO'].str.split('.').str[0] +
                                   estr_23_24['EJECUTORA'].str.split('.').str[0],
                                   np.where(estr_23_24['NIVEL_GOB'].str.contains('2.'),
                                            estr_23_24['SECTOR'].str.split('.').str[0] +
                                            estr_23_24['PLIEGO'].str.split('.').str[0], ' '))

# Realizar las sustituciones en SECTOR y PLIEGO según condiciones
estr_23_24.loc[estr_23_24['ID_PLIEGO'] == "21021001", 'SECTOR'] = "21. CONSEJO NACIONAL DE LA MAGISTRATURA"
estr_23_24.loc[estr_23_24['ID_PLIEGO'] == "21021001", 'PLIEGO'] = "021. JUNTA NACIONAL DE JUSTICIA"

estr_23_24.loc[estr_23_24['SECTOR'] == "13. AGRICULTURA", 'SECTOR'] = "13. AGRARIO Y DE RIEGO"
estr_23_24.loc[estr_23_24['PLIEGO'] == "013. M. DE AGRICULTURA Y RIEGO", 'PLIEGO'] = "013. MINISTERIO DE DESARROLLO AGRARIO Y RIEGO"

#Renombrar Código SIAF

estr_23_24.rename(columns={'CODIGO_UNICO':'CODIGOSIAF'}, inplace=True)

estr_23_24['ID_PLIEGO'] = estr_23_24['ID_PLIEGO'].astype(str)
estr_23_24['CODIGOSIAF'] = estr_23_24['CODIGOSIAF'].astype(str)

#Seleccionar columnas específicas
estr_23_24 = estr_23_24[['CODIGO_OBRA', 'PIA_SIAF_2024', 'PIM_SIAF_2024', 'CERTIF_ANUAL_SIAF_2024', 'COMP_ANUAL_SIAF_2024',
                        'DEV_2024', 'PIA_SIAF2023', 'PIM_SIAF2023', 'DEV_2023', 'FUNCION', 'TIPO_PROYECTO',
                        'NOMBRE_PROYECTO', 'CERRADO_BCO', 'ACM_DEV_AL2023', 'COSTO_ACTUAL_BCO', 'SITUACION_BCO',
                        'ESTADO_BCO', 'IND_INACTIVO_DEFINITIVO_BCO', 'EXP_TCO_BCO', 'DEPARTAMENTO_BCO', 'PROVINCIA_BCO',
                        'DISTRITO_BCO', 'PLIEGO', 'EJECUTORA', 'ID_PLIEGO', 'CODIGOSIAF', 'NIVEL_GOB', 'SECTOR', 'POR_AVANCE_FISICO']]

# Eliminar duplicados
estr_23_24.drop_duplicates(inplace=True)

# Realizar la agregación de columnas utilizando groupby
estr_23_24.rename(columns={'FUNCION' : 'FUNCION_BCO', 'PIA_SIAF2023' : 'PIA_2023',  'PIM_SIAF2023' : 'PIM_2023', 'PIA_SIAF_2024' : 'PIA_2024', 'PIM_SIAF_2024': 'PIM_2024', 'CERTIF_ANUAL_SIAF_2024' : 'CERT_2024', 'COMP_ANUAL_SIAF_2024': 'COMP_2024', 'POR_AVANCE_FISICO':'AVANCE_FISICO'}, inplace=True)
estr_23_24 = estr_23_24.groupby(['ID_PLIEGO', 'CODIGOSIAF']).agg({ 'PIA_2024': 'sum', 'PIM_2024': 'sum', 'CERT_2024': 'sum', 'COMP_2024': 'sum',
                                                                                                'DEV_2024': 'sum', 'PIA_2023': 'sum', 'PIM_2023': 'sum', 'DEV_2023': 'sum',
                                                                                                'FUNCION_BCO': 'first', 'TIPO_PROYECTO': 'first', 'NOMBRE_PROYECTO': 'first',
                                                                                                'CERRADO_BCO': 'first', 'ACM_DEV_AL2023': 'max', 'COSTO_ACTUAL_BCO': 'max',
                                                                                                'SITUACION_BCO': 'first', 'ESTADO_BCO': 'first', 'IND_INACTIVO_DEFINITIVO_BCO': 'first',
                                                                                                'EXP_TCO_BCO': 'first', 'DEPARTAMENTO_BCO': 'first', 'PROVINCIA_BCO': 'first',
                                                                                                'DISTRITO_BCO': 'first', 'PLIEGO': 'first', 'SECTOR': 'first', 
                                                                                                'NIVEL_GOB' :'first', 'EJECUTORA': 'first', 'AVANCE_FISICO': 'max'}).reset_index()

# Crear columnas DEPARTAMENTO, PROVINCIA y DISTRITO

# Agregar la columna 'DEPARTAMENTO' basada en la condición
estr_23_24['DEPARTAMENTO'] = estr_23_24['DEPARTAMENTO_BCO']

estr_23_24.loc[(estr_23_24['ID_PLIEGO'] == "99463") | ((estr_23_24['SECTOR'].str.contains("15.")) & 
                                                        (estr_23_24['PLIEGO'].str.contains("01.") == False) & 
                                                        (estr_23_24['NIVEL_GOB'].str.contains("3."))), 'DEPARTAMENTO'] = "LIMA PROVINCIAS"

estr_23_24.loc[(estr_23_24['ID_PLIEGO'] == "99465") | ((estr_23_24['ID_PLIEGO'].str[:4] == "1501") & 
                                                        (estr_23_24['NIVEL_GOB'].str.contains("3."))), 'DEPARTAMENTO'] = "LIMA METROPOLITANA"


# Agregar la columna 'PROVINCIA' basada en la condición
estr_23_24['PROVINCIA'] = estr_23_24['PROVINCIA_BCO']


estr_23_24['PROVINCIA'] = estr_23_24['PROVINCIA'].replace({'PROVINCIA CONSTITUCIONAL DEL CALLAO':'CALLAO'})

# Agregar la columna 'DISTRITO' basada en la condición
estr_23_24['DISTRITO'] = estr_23_24['DISTRITO_BCO']

# Ordenar la Base
estr_23_24 = estr_23_24[['ID_PLIEGO', 'CODIGOSIAF', 'NIVEL_GOB', 'SECTOR',  'PLIEGO','EJECUTORA', 'NOMBRE_PROYECTO',
                        'FUNCION_BCO', 'CERRADO_BCO', 'ESTADO_BCO', 'PIA_2023', 'PIM_2023', 'DEV_2023',
                        'SITUACION_BCO', 'COSTO_ACTUAL_BCO', 'TIPO_PROYECTO', 'ACM_DEV_AL2023', 'EXP_TCO_BCO',
                        'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'PIA_2024', 'PIM_2024', 'CERT_2024', 'COMP_2024',
                        'DEV_2024', 'AVANCE_FISICO']]

estr_23_24 = estr_23_24.fillna(' ')
estr_23_24.info()
estr_23_24.head(100)
print('PIA_2023: ', '{:,.0f}'.format(estr_23_24.PIA_2023.sum()))
print('PIM_2023: ', '{:,.0f}'.format(estr_23_24.PIM_2023.sum()))
print('DEV_2023: ', '{:,.0f}'.format(estr_23_24.DEV_2023.sum()))
print('PIA_2024: ', '{:,.0f}'.format(estr_23_24.PIA_2024.sum()))
print('PIM_2024: ', '{:,.0f}'.format(estr_23_24.PIM_2024.sum()))
print('CERT_2024: ', '{:,.0f}'.format(estr_23_24.CERT_2024.sum()))
print('COMP_2024: ', '{:,.0f}'.format(estr_23_24.COMP_2024.sum()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82201 entries, 0 to 82200
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_PLIEGO         82201 non-null  object
 1   CODIGOSIAF        82201 non-null  object
 2   NIVEL_GOB         82201 non-null  object
 3   SECTOR            82201 non-null  object
 4   PLIEGO            82201 non-null  object
 5   EJECUTORA         82201 non-null  object
 6   NOMBRE_PROYECTO   82201 non-null  object
 7   FUNCION_BCO       82201 non-null  object
 8   CERRADO_BCO       82201 non-null  object
 9   ESTADO_BCO        82201 non-null  object
 10  PIA_2023          82201 non-null  int64
 11  PIM_2023          82201 non-null  int64
 12  DEV_2023          82201 non-null  float64
 13  SITUACION_BCO     82201 non-null  object
 14  COSTO_ACTUAL_BCO  82201 non-null  float64
 15  TIPO_PROYECTO     82201 non-null  object
 16  ACM_DEV_AL2023    82201 non-null  float64
 17  EXP_TCO_BCO       82201 non-null  object
 18  DEPARTAMENTO      82201 non-null  object
 19  PROVINCIA         82201 non-null  object
 20  DISTRITO          82201 non-null  object
 21  PIA_2024          82201 non-null  int64
 22  PIM_2024          82201 non-null  int64
 23  CERT_2024         82201 non-null  float64
 24  COMP_2024         82201 non-null  float64
 25  DEV_2024          82201 non-null  float64
 26  AVANCE_FISICO     82201 non-null  object
dtypes: float64(6), int64(4), object(17)
memory usage: 16.9+ MB
PIA_2023:  52,572,784,519
PIM_2023:  65,777,528,190
DEV_2023:  49,808,301,532
PIA_2024:  56,233,353,054
PIM_2024:  65,426,505,976
CERT_2024:  42,996,265,110
COMP_2024:  26,772,642,025

In [7]:
#Unión de bases - Estr 2022 - 2024
Bd_estr2224 = pd.merge(estr_23_24, estr_22_23, on=['ID_PLIEGO', 'CODIGOSIAF'], how='outer', validate='1:1', indicator = True)
postmerge(Bd_estr2224)
Bd_estr2224.rename(columns={'_merge':'match_str2023'}, inplace=True)
Bd_estr2224.info()
Bd_estr2224.head()
print('PIA_2022: ', '{:,.0f}'.format(Bd_estr2224.PIA_2022.sum()))
print('PIM_2022: ', '{:,.0f}'.format(Bd_estr2224.PIM_2022.sum()))
print('DEV_2022: ', '{:,.0f}'.format(Bd_estr2224.DEV_2022.sum()))
print('COSTO_ACTUAL_BCO: ', '{:,.0f}'.format(Bd_estr2224.COSTO_ACTUAL_BCO.sum()))
print('ACM_DEV_AL2022: ', '{:,.0f}'.format(Bd_estr2224.ACM_DEV_AL2022.sum()))
print('CERT_2023: ', '{:,.0f}'.format(Bd_estr2224.CERT_2023.sum()))
print('COMP_2023: ', '{:,.0f}'.format(Bd_estr2224.COMP_2023.sum()))
print('PIA_2023: ', '{:,.0f}'.format(Bd_estr2224.PIA_2023.sum()))
print('PIM_2023: ', '{:,.0f}'.format(Bd_estr2224.PIM_2023.sum()))
print('DEV_2023: ', '{:,.0f}'.format(Bd_estr2224.DEV_2023.sum()))
print('PIA_2024: ', '{:,.0f}'.format(Bd_estr2224.PIA_2024.sum()))
print('PIM_2024: ', '{:,.0f}'.format(Bd_estr2224.PIM_2024.sum()))
print('CERT_2024: ', '{:,.0f}'.format(Bd_estr2224.CERT_2024.sum()))
print('COMP_2024: ', '{:,.0f}'.format(Bd_estr2224.COMP_2024.sum()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116356 entries, 0 to 116355
Data columns (total 34 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID_PLIEGO         116356 non-null  object
 1   CODIGOSIAF        116356 non-null  object
 2   PIA_2023          82201 non-null   float64
 3   PIM_2023          82201 non-null   float64
 4   DEV_2023          82201 non-null   float64
 5   ACM_DEV_AL2023    82201 non-null   float64
 6   PIA_2024          82201 non-null   float64
 7   PIM_2024          82201 non-null   float64
 8   CERT_2024         82201 non-null   float64
 9   COMP_2024         82201 non-null   float64
 10  DEV_2024          82201 non-null   float64
 11  AVANCE_FISICO     82201 non-null   object
 12  PIA_2022          102248 non-null  float64
 13  PIM_2022          102248 non-null  float64
 14  DEV_2022          102248 non-null  float64
 15  ACM_DEV_AL2022    102248 non-null  float64
 16  CERT_2023         102248 non-null  float64
 17  COMP_2023         102248 non-null  float64
 18  match_str2023     116356 non-null  category
 19  NIVEL_GOB         116356 non-null  object
 20  SECTOR            116356 non-null  object
 21  PLIEGO            116356 non-null  object
 22  EJECUTORA         116356 non-null  object
 23  NOMBRE_PROYECTO   116356 non-null  object
 24  FUNCION_BCO       116356 non-null  object
 25  CERRADO_BCO       116356 non-null  object
 26  ESTADO_BCO        116356 non-null  object
 27  SITUACION_BCO     116356 non-null  object
 28  COSTO_ACTUAL_BCO  116356 non-null  float64
 29  TIPO_PROYECTO     116356 non-null  object
 30  EXP_TCO_BCO       116356 non-null  object
 31  DEPARTAMENTO      116356 non-null  object
 32  PROVINCIA         116356 non-null  object
 33  DISTRITO          116356 non-null  object
dtypes: category(1), float64(16), object(17)
memory usage: 29.4+ MB
PIA_2022:  41,939,670,965
PIM_2022:  65,005,084,391
DEV_2022:  46,266,682,930
COSTO_ACTUAL_BCO:  1,058,830,766,888
ACM_DEV_AL2022:  276,953,549,588
CERT_2023:  59,532,094,694
COMP_2023:  53,964,506,305
PIA_2023:  52,572,784,519
PIM_2023:  65,777,528,190
DEV_2023:  49,808,301,532
PIA_2024:  56,233,353,054
PIM_2024:  65,426,505,976
CERT_2024:  42,996,265,110
COMP_2024:  26,772,642,025

### Base de Estructura_3

In [8]:
estr3_2024= estructura3.copy()

# Renombrar columnas
estr3_2024.rename(columns={'CODIGO_UNICO': 'CODIGOSIAF', 'NOMBRE_INVIERTE':'NOMBRE_PROYECTO', 'SITUACION': 'SITUACION_BCO_13', 'ESTADO': 'ESTADO_BCO_13',
                           'COSTO_PIP': 'COSTO_ACTUAL_BCO_13', 'DEVENGADO' : 'ACM_DEV_AL2023_e3', 'CERRADO': 'CERRADO_13', 'TIPO_PROYECTO': 'TIPO_PROYECTO_13',
                           'FUNCION': 'FUNCION_13', 'NIV_GOBIERNO_DGPP' : 'NIVEL_GOB', 'SECTOR_DGPP' : 'SECTOR', 'PLIEGO_DGPP' : 'PLIEGO', 'EJECUTORA_DGPP' : 'EJECUTORA',
                            'DEPARTAMENTO_INVIERTE': 'DEPARTAMENTO', 'PROVINCIA_INVIERTE' : 'PROVINCIA', 'DISTRITO_INVIERTE' : 'DISTRITO', 'POR_AVANCE_FISICO': 'AVANCE_FISICO' }, inplace=True)


estr3_2024 = estr3_2024.groupby(['CODIGOSIAF']).agg({ 'COSTO_ACTUAL_BCO_13': 'max', 'ACM_DEV_AL2023_e3': 'max', 'ET_VIGENTE' : 'first',
                                                                                                'SITUACION_BCO_13': 'first', 'NOMBRE_PROYECTO': 'first', 'FUNCION_13' : 'first',
                                                                                                'CERRADO_13': 'first', 'CUENTA_ET_DE' : 'first', 'ESTADO_BCO_13' : 'first', 
                                                                                                'NOMBRE_PROYECTO': 'first', 'TIPO_PROYECTO_13': 'first', 'DEPARTAMENTO': 'first',
                                                                                               'PROVINCIA': 'first', 'DISTRITO': 'first', 'NIVEL_GOB': 'first', 'AVANCE_FISICO': 'max'}).reset_index()

estr3_2024['CODIGOSIAF'] = estr3_2024['CODIGOSIAF'].astype(str)
estr3_2024['PROVINCIA'] = estr3_2024['PROVINCIA'].replace({'PROVINCIA CONSTITUCIONAL DEL CALLAO':'CALLAO'})

# Crear la columna EXP_TCO_BCO_13
estr3_2024['EXP_TCO_BCO_13'] = np.where(estr3_2024['ET_VIGENTE'] == 'SI', 'SÍ',
                                        np.where(estr3_2024['ET_VIGENTE'] == 'NO', 'NO', 
                                                 np.where(estr3_2024['CUENTA_ET_DE'] == 'NO', 'NO',
                                                           np.where(estr3_2024['CUENTA_ET_DE'] == 'SI', 'SÍ', ' '))))

# Asignar etiquetas en SITUACION_BCO_13
estr3_2024['SITUACION_BCO_13'].replace({'1. EN FORMULACION': 'EN EVALUACION',
                                        '2. VIABLE': 'VIABLE',
                                        '3. APROBADO': 'APROBADO'}, inplace=True)

# Asignar etiquetas  en ESTADO_BCO_13
                                        
estr3_2024['ESTADO_BCO_13'] = np.where(estr3_2024['ESTADO_BCO_13'] == '1. ACTIVO ', 'ACTIVO',
                                        np.where(estr3_2024['ESTADO_BCO_13'] == '0. DESACTIVADO TEMPORAL', 'DESACTIVADO TEMPORAL', 
                                                 np.where(estr3_2024['ESTADO_BCO_13'] == '0. DESACTIVADO PERMANENTE', 'DESACTIVADO PERMANENTE',
                                                           np.where(estr3_2024['ESTADO_BCO_13'] == '0. DESACTIVADO ', 'DESACTIVADO',
                                                                    np.where(estr3_2024['CERRADO_13'] == 'SI', 'CERRADO',
                                                                             np.where(estr3_2024['ESTADO_BCO_13'] == '1. ACTIVO PERMANENTE', 'ACTIVO',' '))))))  

# Mantener solo las columnas necesarias
estr3_2024 = estr3_2024[['CODIGOSIAF', 'NIVEL_GOB', 'SITUACION_BCO_13', 'ESTADO_BCO_13', 'ACM_DEV_AL2023_e3', 'COSTO_ACTUAL_BCO_13',
                       'EXP_TCO_BCO_13', 'CERRADO_13', 'NOMBRE_PROYECTO', 'DEPARTAMENTO',
                       'PROVINCIA', 'DISTRITO', 'TIPO_PROYECTO_13', 'FUNCION_13', 'AVANCE_FISICO']]

# Eliminar duplicados 
                                                                    
estr3_2024.drop_duplicates(inplace=True)

# Eliminar la columna de etiquetas 'd'
estr3_2024['d'] = estr3_2024.duplicated(subset='CODIGOSIAF', keep='first')
                                                                    
estr3_2024.drop(estr3_2024[estr3_2024['d'] > 0].index, inplace=True)
                                                                   
estr3_2024.drop(columns='d', inplace=True)
estr3_2024 = estr3_2024.fillna(' ')
estr3_2024.info()
estr3_2024.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425971 entries, 0 to 425970
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CODIGOSIAF           425971 non-null  object
 1   NIVEL_GOB            425971 non-null  object
 2   SITUACION_BCO_13     425971 non-null  object
 3   ESTADO_BCO_13        425971 non-null  object
 4   ACM_DEV_AL2023_e3    425971 non-null  object
 5   COSTO_ACTUAL_BCO_13  425971 non-null  object
 6   EXP_TCO_BCO_13       425971 non-null  object
 7   CERRADO_13           425971 non-null  object
 8   NOMBRE_PROYECTO      425971 non-null  object
 9   DEPARTAMENTO         425971 non-null  object
 10  PROVINCIA            425971 non-null  object
 11  DISTRITO             425971 non-null  object
 12  TIPO_PROYECTO_13     425971 non-null  object
 13  FUNCION_13           425971 non-null  object
 14  AVANCE_FISICO        425971 non-null  object
dtypes: object(15)
memory usage: 48.7+ MB

,CODIGOSIAF,NIVEL_GOB,SITUACION_BCO_13,ESTADO_BCO_13,ACM_DEV_AL2023_e3,COSTO_ACTUAL_BCO_13,EXP_TCO_BCO_13,CERRADO_13,NOMBRE_PROYECTO,DEPARTAMENTO,PROVINCIA,DISTRITO,TIPO_PROYECTO_13,FUNCION_13,AVANCE_FISICO
0,2000680,2. GOBIERNOS REGIONALES,VIABLE,ACTIVO,3344514.98,2998000.0,NO,NO,DESARROLLO DE LOS RECURSOS NATURALES EN MICROC...,CUSCO,CHUMBIVILCAS,CAPACMARCA,1. PI SNIP,,
1,2000788,1. GOBIERNO NACIONAL,VIABLE,ACTIVO,36163313.01,51961462.0,NO,NO,LINEA DE TRANSMISION 138 KV CARHUAQUERO - JAEN...,AMAZONAS,BAGUA,- TODOS -,1. PI SNIP,,
2,2000812,1. GOBIERNO NACIONAL,VIABLE,ACTIVO,2142053.89,2046823.0,NO,NO,PEQUEÑO SISTEMA ELECTRICO OCROS II ETAPA,ANCASH,OCROS,OCROS,1. PI SNIP,,
3,2000813,1. GOBIERNO NACIONAL,VIABLE,ACTIVO,3134980.51,2872930.0,NO,NO,PEQUEÑO SISTEMA ELECTRICO PIRA III ETAPA,ANCASH,HUARAZ,LA LIBERTAD,1. PI SNIP,,
4,2000814,1. GOBIERNO NACIONAL,VIABLE,ACTIVO,5396737.58,6246759.0,NO,NO,PEQUEÑO SISTEMA ELECTRICO AIJA - COTAPARACO II...,ANCASH,RECUAY,TICAPAMPA,1. PI SNIP,,

In [9]:
# Estr 3 2024
Bd_union = pd.merge(Bd_estr2224, estr3_2024, on=['CODIGOSIAF'], how='outer', validate='m:1' , indicator = True)
Bd_union.rename(columns={'_merge':'match_str3'}, inplace=True)
Bd_union['match_str3'] = Bd_union['match_str3'].astype('object')
Bd_union['ACM_DEV_AL2023'] = np.where(Bd_union['ACM_DEV_AL2023'].isna(), Bd_union['ACM_DEV_AL2023_e3'],  Bd_union['ACM_DEV_AL2023'])
Bd_union['ACM_DEV_AL2023'] = np.where((Bd_union['ACM_DEV_AL2023'].isna()) & (Bd_union['ACM_DEV_AL2023_e3'].isna()), Bd_union['ACM_DEV_AL2022'], Bd_union['ACM_DEV_AL2023'])                                  

Bd_union = postmerge(Bd_union)
Bd_union.info()
Bd_union.head()
#%%

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511785 entries, 0 to 511784
Data columns (total 43 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID_PLIEGO            116356 non-null  object
 1   CODIGOSIAF           511785 non-null  object
 2   PIA_2023             82201 non-null   float64
 3   PIM_2023             82201 non-null   float64
 4   DEV_2023             82201 non-null   float64
 5   ACM_DEV_AL2023       511785 non-null  object
 6   PIA_2024             82201 non-null   float64
 7   PIM_2024             82201 non-null   float64
 8   CERT_2024            82201 non-null   float64
 9   COMP_2024            82201 non-null   float64
 10  DEV_2024             82201 non-null   float64
 11  PIA_2022             102248 non-null  float64
 12  PIM_2022             102248 non-null  float64
 13  DEV_2022             102248 non-null  float64
 14  ACM_DEV_AL2022       102248 non-null  float64
 15  CERT_2023            102248 non-null  float64
 16  COMP_2023            102248 non-null  float64
 17  match_str2023        116356 non-null  category
 18  SECTOR               116356 non-null  object
 19  PLIEGO               116356 non-null  object
 20  EJECUTORA            116356 non-null  object
 21  FUNCION_BCO          116356 non-null  object
 22  CERRADO_BCO          116356 non-null  object
 23  ESTADO_BCO           116356 non-null  object
 24  SITUACION_BCO        116356 non-null  object
 25  COSTO_ACTUAL_BCO     116356 non-null  float64
 26  TIPO_PROYECTO        116356 non-null  object
 27  EXP_TCO_BCO          116356 non-null  object
 28  SITUACION_BCO_13     426023 non-null  object
 29  ESTADO_BCO_13        426023 non-null  object
 30  ACM_DEV_AL2023_e3    426023 non-null  object
 31  COSTO_ACTUAL_BCO_13  426023 non-null  object
 32  EXP_TCO_BCO_13       426023 non-null  object
 33  CERRADO_13           426023 non-null  object
 34  TIPO_PROYECTO_13     426023 non-null  object
 35  FUNCION_13           426023 non-null  object
 36  match_str3           511785 non-null  object
 37  AVANCE_FISICO        508184 non-null  object
 38  NIVEL_GOB            511785 non-null  object
 39  NOMBRE_PROYECTO      511785 non-null  object
 40  DEPARTAMENTO         511785 non-null  object
 41  PROVINCIA            511785 non-null  object
 42  DISTRITO             511785 non-null  object
dtypes: category(1), float64(15), object(27)
memory usage: 164.5+ MB

,ID_PLIEGO,CODIGOSIAF,PIA_2023,PIM_2023,DEV_2023,ACM_DEV_AL2023,PIA_2024,PIM_2024,CERT_2024,COMP_2024,...,CERRADO_13,TIPO_PROYECTO_13,FUNCION_13,match_str3,AVANCE_FISICO,NIVEL_GOB,NOMBRE_PROYECTO,DEPARTAMENTO,PROVINCIA,DISTRITO
0,01001003,2478903,0.0,32905.0,32904.21,1860869.7,0.0,0.0,0.00,0.00,...,NaN,NaN,NaN,left_only,53.18,1. GOBIERNO NACIONAL,CREACION DE LOS SERVICIOS INTEGRADOS DE ATENCI...,CAJAMARCA,CAJAMARCA,CAJAMARCA
1,01001003,2549956,0.0,1302160.0,1302157.86,1302157.86,0.0,0.0,0.00,0.00,...,NaN,NaN,NaN,left_only,,1. GOBIERNO NACIONAL,CONSTRUCCION DE AMBIENTE DE ATENCION AL CIUDAD...,LIMA,LIMA,ATE
2,01001003,2572507,0.0,3042292.0,2957024.48,2201875.48,0.0,3000000.0,755466.77,678466.77,...,NaN,NaN,NaN,left_only,6.99,1. GOBIERNO NACIONAL,MEJORAMIENTO DE LOS SERVICIOS OPERATIVOS O MIS...,LIMA,LIMA,MIRAFLORES
3,01001003,2604045,0.0,0.0,0.00,31152.27,11100442.0,11100442.0,0.00,0.00,...,NaN,NaN,NaN,left_only,,1. GOBIERNO NACIONAL,MEJORAMIENTO DE LOS SERVICIOS OPERATIVOS O MIS...,LA LIBERTAD,TRUJILLO,TRUJILLO
4,99451,2604045,0.0,200000.0,31152.27,31152.27,0.0,0.0,0.00,0.00,...,NaN,NaN,NaN,left_only,,2. GOBIERNOS REGIONALES,MEJORAMIENTO DE LOS SERVICIOS OPERATIVOS O MIS...,LA LIBERTAD,TRUJILLO,TRUJILLO

### Unir Anexos 2023 y 2024

In [10]:
plantilla23= plantillax_2023.copy()
plantilla23['ID_PLIEGO'] = plantilla23['ID_PLIEGO'].astype(str)
plantilla23['CODIGOSIAF'] = plantilla23['CODIGOSIAF'].astype(str)
plantilla23.info()
plantilla23.head()
print('anexoI_2023: ', '{:,.0f}'.format(plantilla23.anexoI_2023.count()))
print('anexoII_2023: ', '{:,.0f}'.format(plantilla23.anexoII_2023.sum()))
print('anexoIII_2023: ', '{:,.0f}'.format(plantilla23.anexoIII_2023.sum()))
print('anexoIV_2023: ', '{:,.0f}'.format(plantilla23.anexoIV_2023.sum()))
plantilla24= plantillax_2024.copy()
plantilla24['ID_PLIEGO'] = plantilla24['ID_PLIEGO'].astype(str)
plantilla24['CODIGOSIAF'] = plantilla24['CODIGOSIAF'].astype(str)
plantilla24['anexoII_2024'] = plantilla24['anexoII_2024'].fillna(0)
plantilla24['anexoIV_2024'] = plantilla24['anexoIV_2024'].fillna(0)
plantilla24['anexoVI_2024'] = plantilla24['anexoVI_2024'].fillna(0)
plantilla24 = plantilla24[['ID_PLIEGO', 'CODIGOSIAF', 'PPTONX_2024', 'CONCEPTO', 'anexoI_2024', 'anexoII_2024', 'anexoIV_2024', 'anexoVI_2024']]

print('anexoI_2024: ', '{:,.0f}'.format(plantilla24.anexoI_2024.count()))
print('anexoII_2024: ', '{:,.0f}'.format(plantilla24.anexoII_2024.sum()))
print('anexoIV_2024: ', '{:,.0f}'.format(plantilla24.anexoIV_2024.sum()))
print('anexoVI_2024: ', '{:,.0f}'.format(plantilla24.anexoVI_2024.sum()))
plantilla23.info()
plantilla23.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2895 entries, 0 to 2894
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID_PLIEGO      2895 non-null   object
 1   CODIGOSIAF     2895 non-null   object
 2   anexoI_2023    2895 non-null   int64
 3   anexoII_2023   2895 non-null   int64
 4   anexoIII_2023  2895 non-null   int64
 5   anexoIV_2023   2895 non-null   int64
dtypes: int64(4), object(2)
memory usage: 135.8+ KB
anexoI_2023:  2,895
anexoII_2023:  26,174,213
anexoIII_2023:  39,071,375
anexoIV_2023:  3,397,338,901
anexoI_2024:  42
anexoII_2024:  3,484,243,286
anexoIV_2024:  2,151,836,017
anexoVI_2024:  502,766,735
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2895 entries, 0 to 2894
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID_PLIEGO      2895 non-null   object
 1   CODIGOSIAF     2895 non-null   object
 2   anexoI_2023    2895 non-null   int64
 3   anexoII_2023   2895 non-null   int64
 4   anexoIII_2023  2895 non-null   int64
 5   anexoIV_2023   2895 non-null   int64
dtypes: int64(4), object(2)
memory usage: 135.8+ KB

  ID_PLIEGO CODIGOSIAF  anexoI_2023  anexoII_2023  anexoIII_2023  anexoIV_2023
0    010101    2308245     22193662             0              0             0
1    010101    2460206            0       3747307              0             0
2    010101    2460346      2755178             0              0             0
3    010105    2302037      3716992             0              0             0
4    010105    2339781     12663682             0              0             0

In [11]:
# ANEXOS I-IV 2023
Bd_estr2_anex = pd.merge(Bd_union, plantilla23, on=['ID_PLIEGO', 'CODIGOSIAF'], how='outer', validate='1:1' , indicator = True)
Bd_estr2_anex.rename(columns={'_merge':'match_ax2023'}, inplace=True)
postmerge(Bd_estr2_anex)

# ANEXOS I-III 2024
Bd_estr2_anex = pd.merge(Bd_estr2_anex, plantilla24, on=['ID_PLIEGO', 'CODIGOSIAF'], how='outer', validate='1:1' , indicator = True)
Bd_estr2_anex.rename(columns={'_merge':'match_ax2024'}, inplace=True)
postmerge(Bd_estr2_anex)

print('PIA_2022: ', '{:,.0f}'.format(Bd_estr2_anex.PIA_2022.sum()))
print('PIM_2022: ', '{:,.0f}'.format(Bd_estr2_anex.PIM_2022.sum()))
print('DEV_2022: ', '{:,.0f}'.format(Bd_estr2_anex.DEV_2022.sum()))
print('COSTO_ACTUAL_BCO: ', '{:,.0f}'.format(Bd_estr2_anex.COSTO_ACTUAL_BCO.sum()))
print('ACM_DEV_AL2022: ', '{:,.0f}'.format(Bd_estr2_anex.ACM_DEV_AL2022.sum()))
print('CERT_2023: ', '{:,.0f}'.format(Bd_estr2_anex.CERT_2023.sum()))
print('COMP_2023: ', '{:,.0f}'.format(Bd_estr2_anex.COMP_2023.sum()))
print('PIA_2023: ', '{:,.0f}'.format(Bd_estr2_anex.PIA_2023.sum()))
print('PIM_2023: ', '{:,.0f}'.format(Bd_estr2_anex.PIM_2023.sum()))
print('DEV_2023: ', '{:,.0f}'.format(Bd_estr2_anex.DEV_2023.sum()))
print('PIA_2024: ', '{:,.0f}'.format(Bd_estr2_anex.PIA_2024.sum()))
print('PIM_2024: ', '{:,.0f}'.format(Bd_estr2_anex.PIM_2024.sum()))
print('CERT_2024: ', '{:,.0f}'.format(Bd_estr2_anex.CERT_2024.sum()))
print('COMP_2024: ', '{:,.0f}'.format(Bd_estr2_anex.COMP_2024.sum()))

print('anexoI_2023: ', '{:,.0f}'.format(Bd_estr2_anex.anexoI_2023.sum()))
print('anexoII_2023: ', '{:,.0f}'.format(Bd_estr2_anex.anexoII_2023.sum()))
print('anexoIII_2023: ', '{:,.0f}'.format(Bd_estr2_anex.anexoIII_2023.sum()))
print('anexoIV_2023: ', '{:,.0f}'.format(Bd_estr2_anex.anexoIV_2023.sum()))
print('anexoII_2024: ', '{:,.0f}'.format(Bd_estr2_anex.anexoII_2024.count()))
print('anexoII_2024: ', '{:,.0f}'.format(Bd_estr2_anex.anexoII_2024.sum()))
print('anexoIV_2024: ', '{:,.0f}'.format(Bd_estr2_anex.anexoIV_2024.sum()))
print('anexoVI_2024: ', '{:,.0f}'.format(Bd_estr2_anex.anexoVI_2024.sum()))

PIA_2022:  41,939,670,965
PIM_2022:  65,005,084,391
DEV_2022:  46,266,682,930
COSTO_ACTUAL_BCO:  1,058,830,766,888
ACM_DEV_AL2022:  276,953,549,588
CERT_2023:  59,532,094,694
COMP_2023:  53,964,506,305
PIA_2023:  52,572,784,519
PIM_2023:  65,777,528,190
DEV_2023:  49,808,301,532
PIA_2024:  56,233,353,054
PIM_2024:  65,426,505,976
CERT_2024:  42,996,265,110
COMP_2024:  26,772,642,025
anexoI_2023:  3,305,639,728
anexoII_2023:  26,174,213
anexoIII_2023:  39,071,375
anexoIV_2023:  3,397,338,901
anexoII_2024:  4,960
anexoII_2024:  3,484,243,286
anexoIV_2024:  2,151,836,017
anexoVI_2024:  502,766,735

###  Base de TRANSFERENCIAS_2019

In [12]:
transferencias_19= trans_xfte_19.copy()
transferencias_19['ID_PLIEGO'] = transferencias_19['ID_PLIEGO'].astype(str)
transferencias_19['CODIGOSIAF'] = transferencias_19['CODIGOSIAF'].astype(str)
transferencias_19 = transferencias_19.fillna(' ')
transferencias_19 = transferencias_19.drop(columns=['NIVEL_GOB'])                           
transferencias_19.info()
transferencias_19.head(1000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5289 entries, 0 to 5288
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID_PLIEGO             5289 non-null   object
 1   CODIGOSIAF            5289 non-null   object
 2   HABILITADORES_19      5289 non-null   object
 3   Dispositivo1_19       5289 non-null   object
 4   Dispositivo2_19       5289 non-null   object
 5   Dispositivo3_19       5289 non-null   object
 6   Dispositivo4_19       5289 non-null   object
 7   Dispositivo5_19       5289 non-null   object
 8   Dispositivo6_19       5289 non-null   object
 9   MONTO_CONTINUIDAD_19  5289 non-null   int64
 10  MONTO_DS_SECTOR_19    5289 non-null   int64
 11  MONTO_LEY_30970       5289 non-null   int64
 12  MONTO_ART25_LEY30970  5289 non-null   int64
 13  MONTO_REPECHAJE       5289 non-null   int64
 14  MONTO_OC30            5289 non-null   int64
 15  MONTO_OTROS_19        5289 non-null   int64
 16  DSTOTAL_19            5289 non-null   int64
 17  MONTO_FONDES_19       5289 non-null   int64
dtypes: int64(9), object(9)
memory usage: 743.9+ KB

,ID_PLIEGO,CODIGOSIAF,HABILITADORES_19,Dispositivo1_19,Dispositivo2_19,Dispositivo3_19,Dispositivo4_19,Dispositivo5_19,Dispositivo6_19,MONTO_CONTINUIDAD_19,MONTO_DS_SECTOR_19,MONTO_LEY_30970,MONTO_ART25_LEY30970,MONTO_REPECHAJE,MONTO_OC30,MONTO_OTROS_19,DSTOTAL_19,MONTO_FONDES_19
0,99440,2090141,CONTINUIDAD,055-2019-EF,,,,,,15456256,0,0,0,0,0,0,15456256,0
1,99440,2094709,CONTINUIDAD,110-2019-EF,,,,,,223957,0,0,0,0,0,0,223957,0
2,99440,2157909,CONTINUIDAD,055-2019-EF,,,,,,1158307,0,0,0,0,0,0,1158307,0
3,99440,2158539,CONTINUIDAD+MTC,055-2019-EF,245-2019-EF,,,,,2404094,3910052,0,0,0,0,0,6314146,0
4,99440,2169296,CONTINUIDAD,055-2019-EF,,,,,,160556,0,0,0,0,0,0,160556,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,99456,2438163,MINSA,106-2019-EF,,,,,,0,19500,0,0,0,0,0,19500,0
996,99456,2438165,MINSA,106-2019-EF,,,,,,0,45850,0,0,0,0,0,45850,0
997,99456,2438169,MINSA,106-2019-EF,,,,,,0,22000,0,0,0,0,0,22000,0
998,99456,2438172,MINSA,106-2019-EF,,,,,,0,67850,0,0,0,0,0,67850,0
999,99456,2438175,MINSA,106-2019-EF,,,,,,0,85350,0,0,0,0,0,85350,0

###  Base de TRANSFERENCIAS_2019

In [13]:
transferencias_20= trans_xfte_20.copy()
transferencias_20['ID_PLIEGO'] = transferencias_20['ID_PLIEGO'].astype(str)
transferencias_20['CODIGOSIAF'] = transferencias_20['CODIGOSIAF'].astype(str)
transferencias_20 = transferencias_20.fillna(' ')
transferencias_20 = transferencias_20.drop(columns=['NIVEL_GOB'])                           
transferencias_20.info()
transferencias_20.head(1000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4345 entries, 0 to 4344
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID_PLIEGO             4345 non-null   object
 1   CODIGOSIAF            4345 non-null   object
 2   HABILITADORES_20      4345 non-null   object
 3   Dispositivo1_20       4345 non-null   object
 4   Dispositivo2_20       4345 non-null   object
 5   Dispositivo3_20       4345 non-null   object
 6   Dispositivo4_20       4345 non-null   object
 7   Dispositivo5_20       4345 non-null   object
 8   Dispositivo6_20       4345 non-null   object
 9   Dispositivo7_20       4345 non-null   object
 10  MONTO_CONTINUIDAD_20  4345 non-null   int64
 11  MONTO_FONDES_20       4345 non-null   int64
 12  MONTO_DS_SECTOR_20    4345 non-null   int64
 13  MONTO_REACTIVA_20     4345 non-null   int64
 14  MONTO_FIDT_20         4345 non-null   int64
 15  MONTO_PATS_20         4345 non-null   int64
 16  MONTO_FSA_20          4345 non-null   int64
 17  DSTOTAL_20            4345 non-null   int64
dtypes: int64(8), object(10)
memory usage: 611.1+ KB

,ID_PLIEGO,CODIGOSIAF,HABILITADORES_20,Dispositivo1_20,Dispositivo2_20,Dispositivo3_20,Dispositivo4_20,Dispositivo5_20,Dispositivo6_20,Dispositivo7_20,MONTO_CONTINUIDAD_20,MONTO_FONDES_20,MONTO_DS_SECTOR_20,MONTO_REACTIVA_20,MONTO_FIDT_20,MONTO_PATS_20,MONTO_FSA_20,DSTOTAL_20
0,99440,2001621,CONTINUIDAD,030-2020-EF,,,,,,,370192,0,0,0,0,0,0,370192
1,99440,2031093,CONTINUIDAD,030-2020-EF,,,,,,,979451,0,0,0,0,0,0,979451
2,99440,2078136,CONTINUIDAD,030-2020-EF,,,,,,,812601,0,0,0,0,0,0,812601
3,99440,2079442,CONTINUIDAD,030-2020-EF,,,,,,,373846,0,0,0,0,0,0,373846
4,99440,2106423,CONTINUIDAD,030-2020-EF,,,,,,,137948,0,0,0,0,0,0,137948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,030217,2328242,DU REACTIVACIÓN,070-2020,,,,,,,0,0,0,4774691,0,0,0,4774691
996,030218,2331004,DU REACTIVACIÓN 2,114-2020,,,,,,,0,0,0,1282645,0,0,0,1282645
997,030218,2471643,DU REACTIVACIÓN,070-2020,,,,,,,0,0,0,4379496,0,0,0,4379496
998,030218,2478572,DU REACTIVACIÓN,070-2020,,,,,,,0,0,0,1304476,0,0,0,1304476
999,030301,2314528,DU REACTIVACIÓN (DS MINAGRI),233-2020-EF,,,,,,,0,0,0,3244329,0,0,0,3244329

###  Base de TRANSFERENCIAS_2021

In [14]:
transferencias_21= trans_xfte_21.copy()
transferencias_21['ID_PLIEGO'] = transferencias_21['ID_PLIEGO'].astype(str)
transferencias_21['CODIGOSIAF'] = transferencias_21['CODIGOSIAF'].astype(str)
transferencias_21 = transferencias_21.fillna(' ')
transferencias_21 = transferencias_21.drop(columns=['NIVEL_GOB'])                           
transferencias_21.info()
transferencias_21.head(1000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4621 entries, 0 to 4620
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID_PLIEGO             4621 non-null   object
 1   CODIGOSIAF            4621 non-null   object
 2   HABILITADORES_21      4621 non-null   object
 3   Dispositivo1_21       4621 non-null   object
 4   Dispositivo2_21       4621 non-null   object
 5   Dispositivo3_21       4621 non-null   object
 6   Dispositivo4_21       4621 non-null   object
 7   MONTO_CONTINUIDAD_21  4621 non-null   float64
 8   MONTO_FONDES_21       4621 non-null   int64
 9   MONTO_DS_SECTOR_21    4621 non-null   int64
 10  MONTO_REACTIVA_21     4621 non-null   int64
 11  MONTO_PATS_21         4621 non-null   int64
 12  DSTOTAL_21            4621 non-null   float64
dtypes: float64(2), int64(4), object(7)
memory usage: 469.4+ KB

,ID_PLIEGO,CODIGOSIAF,HABILITADORES_21,Dispositivo1_21,Dispositivo2_21,Dispositivo3_21,Dispositivo4_21,MONTO_CONTINUIDAD_21,MONTO_FONDES_21,MONTO_DS_SECTOR_21,MONTO_REACTIVA_21,MONTO_PATS_21,DSTOTAL_21
0,99001,2430118,DS REACTIVACIÓN,258-2021-EF,,,,0.0,0,0,2489376,0,2489376.0
1,99440,2105040,CONTINUIDAD,037-2021-EF,,,,10169.0,0,0,0,0,10169.0
2,99440,2106401,DS REACTIVACIÓN,278-2021-EF,,,,0.0,0,0,317851,0,317851.0
3,99440,2129041,DS REACTIVACIÓN,284-2021-EF,,,,0.0,0,0,2721379,0,2721379.0
4,99440,2134935,DS REACTIVACIÓN,278-2021-EF,,,,0.0,0,0,800000,0,800000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,021801,2486303,FONDES,039-2021-EF,,,,0.0,496071,0,0,0,496071.0
996,021801,2486557,FONDES,039-2021-EF,,,,0.0,317142,0,0,0,317142.0
997,021801,2486560,FONDES,039-2021-EF,,,,0.0,640006,0,0,0,640006.0
998,021801,2486645,FONDES,039-2021-EF,,,,0.0,460709,0,0,0,460709.0
999,021801,2496465,FONDES,060-2021-EF,,,,0.0,4392158,0,0,0,4392158.0

### Base de TRANSFERENCIAS_2022

In [15]:
transferencias_22= trans_xfte_22.copy()
transferencias_22= transferencias_22.loc[1:,:]
transferencias_22['ID_PLIEGO'] = transferencias_22['ID_PLIEGO'].astype(int).astype(str)
transferencias_22['CODIGOSIAF'] = transferencias_22['CODIGOSIAF'].astype(int).astype(str)
transferencias_22 = transferencias_22.fillna(' ')
transferencias_22 = transferencias_22.drop(columns=['NIVEL_GOB'])
transferencias_22.info()
transferencias_22.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5866 entries, 1 to 5866
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID_PLIEGO             5866 non-null   object
 1   CODIGOSIAF            5866 non-null   object
 2   HABILITADORES_22      5866 non-null   object
 3   Dispositivo1_22       5866 non-null   object
 4   Dispositivo2_22       5866 non-null   object
 5   Dispositivo3_22       5866 non-null   object
 6   Dispositivo4_22       5866 non-null   object
 7   Dispositivo5_22       5866 non-null   object
 8   Dispositivo6_22       5866 non-null   object
 9   MONTO_CONTINUIDAD_22  5866 non-null   int64
 10  MONTO_FONDES_22       5866 non-null   int64
 11  MONTO_DS_SECTOR_22    5866 non-null   int64
 12  MONTO_REACTIVA_22     5866 non-null   int64
 13  MONTO_FIDT_22         5866 non-null   int64
 14  MONTO_PATS_22         5866 non-null   int64
 15  MONTO_PREVISION_22    5866 non-null   int64
 16  MONTO_Ley31436_22     5866 non-null   int64
 17  MONTO_45DCF_22        5866 non-null   int64
 18  MONTO_FESC_22         5866 non-null   int64
 19  MONTO_AJUSTEANX2_22   5866 non-null   int64
 20  MONTO_Ley31538_22     5866 non-null   int64
 21  DSTOTAL_22            5866 non-null   int64
dtypes: int64(13), object(9)
memory usage: 1008.3+ KB

,ID_PLIEGO,CODIGOSIAF,HABILITADORES_22,Dispositivo1_22,Dispositivo2_22,Dispositivo3_22,Dispositivo4_22,Dispositivo5_22,Dispositivo6_22,MONTO_CONTINUIDAD_22,...,MONTO_REACTIVA_22,MONTO_FIDT_22,MONTO_PATS_22,MONTO_PREVISION_22,MONTO_Ley31436_22,MONTO_45DCF_22,MONTO_FESC_22,MONTO_AJUSTEANX2_22,MONTO_Ley31538_22,DSTOTAL_22
1,99440,2094709,MINSA,103-2022-EF,,,,,,0,...,0,0,0,0,0,0,0,0,0,30000000
2,99440,2105040,Ley 31538,Ley N° 31538,,,,,,0,...,0,0,0,0,0,0,0,0,7864,7864
3,99440,2106401,Ley 31538,Ley N° 31538,,,,,,0,...,0,0,0,0,0,0,0,0,687976,687976
4,99440,2129041,Ley 31538,Ley N° 31538,,,,,,0,...,0,0,0,0,0,0,0,0,5313,5313
5,99440,2134935,Ley 31538,Ley N° 31538,,,,,,0,...,0,0,0,0,0,0,0,0,78135,78135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,99442,2340050,CONTINUIDAD+Ley 31436,032-2022-EF,Ley N° 31436,,,,,42445,...,0,0,0,0,2210574,0,0,0,0,2253019
97,99442,2342809,Ley 31538,Ley N° 31538,,,,,,0,...,0,0,0,0,0,0,0,0,274158,274158
98,99442,2443596,Ley 31538,Ley N° 31538,,,,,,0,...,0,0,0,0,0,0,0,0,93953,93953
99,99442,2444407,Ley 31538,Ley N° 31538,,,,,,0,...,0,0,0,0,0,0,0,0,56262,56262
100,99442,2444408,Ley 31436+Ley 31538,Ley N° 31436,Ley N° 31538,,,,,0,...,0,0,0,0,441634,0,0,0,336677,778311

### Base de TRANSFERENCIAS_2023

In [16]:
transferencias_23= trans_xfte_23.copy()

transferencias_23['ID_PLIEGO'] = np.where(len(transferencias_23['CÓDIGO ENTIDAD'].astype(str)) == 3,
                                           '99' + transferencias_23['CÓDIGO ENTIDAD'].astype(str),
                                           np.where(len(transferencias_23['CÓDIGO ENTIDAD'].astype(str)) > 3,
                                                    transferencias_23['CÓDIGO ENTIDAD'].astype(str), ' '))
# Renombrar la columna CÓDIGOUNIFICADO a CODIGOSIAF
transferencias_23.rename(columns={'CÓDIGO UNIFICADO': 'CODIGOSIAF'}, inplace=True)
transferencias_23['ID_PLIEGO'] = transferencias_23['ID_PLIEGO'].astype(int).astype(str)
transferencias_23['CODIGOSIAF'] = transferencias_23['CODIGOSIAF'].fillna(0)
transferencias_23['CODIGOSIAF'] = transferencias_23['CODIGOSIAF'].astype(int).astype(str)

# Generar la columna NIVEL_GOB
transferencias_23['NIVEL_GOB'] = np.where(len(transferencias_23['CÓDIGO ENTIDAD']) == 3, '2. GOBIERNOS REGIONALES',
                                          np.where(len(transferencias_23['CÓDIGO ENTIDAD']) > 3, '3. GOBIERNOS LOCALES',' '))
                                          
# Realizar la operación de collapse
transferencias_23 = transferencias_23.groupby(['NIVEL_GOB', 'ID_PLIEGO', 'CODIGOSIAF', 'MOTIVO', 'DS']).agg({'MONTO': 'sum'}).reset_index()

# Reemplazar los valores en la columna 'MOTIVO'
transferencias_23['MOTIVO'] = np.where(transferencias_23['MOTIVO'].str.contains('FONDES'), 'FONDES', transferencias_23['MOTIVO'])

# Ordenar el DataFrame
transferencias_23.sort_values(by=['ID_PLIEGO', 'CODIGOSIAF', 'MOTIVO'], inplace=True)

# Generar la columna 'nro_ds'
transferencias_23['nro_ds'] = transferencias_23.groupby(['ID_PLIEGO', 'CODIGOSIAF']).cumcount() + 1    

# Iterar sobre el rango de 1 a 6
for x in range(1, 7):
    # Generar las columnas HABILITADORES`x'_19 y Dispositivo`x'_19
    transferencias_23[f'HABILITADORES{x}_23'] = np.where(transferencias_23['nro_ds'] == x, transferencias_23['MOTIVO'], ' ')
    transferencias_23[f'Dispositivo{x}_23'] = np.where(transferencias_23['nro_ds'] == x, transferencias_23['DS'], ' ' )
                                          
# Generar MONTO_CONTINUIDAD_23
transferencias_23['MONTO_CONTINUIDAD_23'] = np.where(transferencias_23['MOTIVO'] == 'CONTINUIDAD', transferencias_23['MONTO'],0)                                         
transferencias_23['MONTO_DS_SECTOR_23'] = np.where(transferencias_23['MOTIVO'].isin(['MIDAGRI', 'MINAM', 'MINEDU', 'MININTER', 'MTC', 'MVCS', 'MINCETUR', 'FONDO SIERRA AZUL', 'PRODUCE']), transferencias_23['MONTO'], 0)
transferencias_23['MONTO_REACTIVA_23'] = np.where(transferencias_23['MOTIVO'].str.contains('PUNCHE'), transferencias_23['MONTO'], 0)
transferencias_23['MONTO_FONDES_23'] = np.where(transferencias_23['MOTIVO'].isin(['FONDES', 'FONDES - ARCC']), transferencias_23['MONTO'], 0)
transferencias_23['MONTO_FIDT_23'] = np.where(transferencias_23['MOTIVO'] == 'FIDT', transferencias_23['MONTO'], 0)

# Generar DSTOTAL_23
transferencias_23['DSTOTAL_23'] = transferencias_23['MONTO_CONTINUIDAD_23'] + transferencias_23['MONTO_FONDES_23'] + transferencias_23['MONTO_DS_SECTOR_23'] + transferencias_23['MONTO_REACTIVA_23'] + transferencias_23['MONTO_FIDT_23']
transferencias_23['DSTOTAL_23'] = transferencias_23['DSTOTAL_23'].replace({np.nan: 0})

# Realizar la agrupamiento
transferencias_23 = transferencias_23.groupby(['ID_PLIEGO', 'CODIGOSIAF']).agg({'NIVEL_GOB' :'first',
                                                                                            'MONTO_CONTINUIDAD_23': 'sum',
                                                                                            'MONTO_FONDES_23': 'sum',
                                                                                            'MONTO_DS_SECTOR_23': 'sum',
                                                                                            'MONTO_REACTIVA_23': 'sum',
                                                                                            'MONTO_FIDT_23': 'sum',
                                                                                            'DSTOTAL_23': 'sum',
                                                                                            'Dispositivo1_23': 'last',
                                                                                            'Dispositivo2_23': 'last',
                                                                                            'Dispositivo3_23': 'last',
                                                                                            'Dispositivo4_23': 'last',
                                                                                            'Dispositivo5_23': 'last',
                                                                                            'Dispositivo6_23': 'last',
                                                                                            'HABILITADORES1_23': 'last',
                                                                                            'HABILITADORES2_23': 'last',
                                                                                            'HABILITADORES3_23': 'last',
                                                                                            'HABILITADORES4_23': 'last',
                                                                                            'HABILITADORES5_23': 'last',
                                                                                            'HABILITADORES6_23': 'last'}).reset_index()
#  Generar HABILITADORES_23
transferencias_23['HABILITADORES_23'] = transferencias_23['HABILITADORES1_23']  

#  Generar HABILITADORES_23
                                          
for x in range(2, 7):
    # Verificar si la columna 'HABILITADORES_x_23' existe antes de acceder a ella
    if f'HABILITADORES_{x}_23' in transferencias_23.columns:
        transferencias_23[f'HABILITADORES_{x}_23'] = np.where(
            transferencias_23[f'HABILITADORES_{x}_23'] != transferencias_23[f'HABILITADORES_{x-1}_23'],
            transferencias_23['HABILITADORES_23'] + '+' + transferencias_23[f'HABILITADORES_{x}_23'], transferencias_23['HABILITADORES_23'])
        

# Reemplazar "+" al final de la columna 'HABILITADORES_23'
transferencias_23['HABILITADORES_23'] = transferencias_23['HABILITADORES_23'].str.rstrip('+')


# Ordenar el DataFrame
transferencias_23.sort_values(by=['NIVEL_GOB', 'ID_PLIEGO', 'CODIGOSIAF', 'HABILITADORES_23'], inplace=True)

# Seleccionar columnas específicas
transferencias_23 = transferencias_23[['ID_PLIEGO', 'CODIGOSIAF', 'HABILITADORES_23',
                                      'Dispositivo1_23', 'Dispositivo2_23', 'Dispositivo3_23', 'Dispositivo4_23', 'Dispositivo5_23', 'Dispositivo6_23',
                                      'MONTO_CONTINUIDAD_23', 'MONTO_FONDES_23', 'MONTO_DS_SECTOR_23', 'MONTO_REACTIVA_23', 'MONTO_FIDT_23', 'DSTOTAL_23']]

transferencias_23 = transferencias_23.fillna(' ')

transferencias_23.info()
transferencias_23.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3945 entries, 0 to 3944
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID_PLIEGO             3945 non-null   object
 1   CODIGOSIAF            3945 non-null   object
 2   HABILITADORES_23      3945 non-null   object
 3   Dispositivo1_23       3945 non-null   object
 4   Dispositivo2_23       3945 non-null   object
 5   Dispositivo3_23       3945 non-null   object
 6   Dispositivo4_23       3945 non-null   object
 7   Dispositivo5_23       3945 non-null   object
 8   Dispositivo6_23       3945 non-null   object
 9   MONTO_CONTINUIDAD_23  3945 non-null   int64
 10  MONTO_FONDES_23       3945 non-null   int64
 11  MONTO_DS_SECTOR_23    3945 non-null   int64
 12  MONTO_REACTIVA_23     3945 non-null   int64
 13  MONTO_FIDT_23         3945 non-null   int64
 14  DSTOTAL_23            3945 non-null   int64
dtypes: int64(6), object(9)
memory usage: 462.4+ KB

,ID_PLIEGO,CODIGOSIAF,HABILITADORES_23,Dispositivo1_23,Dispositivo2_23,Dispositivo3_23,Dispositivo4_23,Dispositivo5_23,Dispositivo6_23,MONTO_CONTINUIDAD_23,MONTO_FONDES_23,MONTO_DS_SECTOR_23,MONTO_REACTIVA_23,MONTO_FIDT_23,DSTOTAL_23
0,100101,0,FIDT,233-2023-EF,,,,,,0,0,0,0,82199,82199
1,100101,2528871,LEY PUNCHE - ANEXO III,LEY 31728,,,,,,0,0,0,834706,0,834706
2,100101,2528873,LEY PUNCHE - ANEXO III,LEY 31728,,,,,,0,0,0,799127,0,799127
3,100101,2528877,LEY PUNCHE - ANEXO III,LEY 31728,,,,,,0,0,0,730946,0,730946
4,100101,2528878,LEY PUNCHE - ANEXO III,LEY 31728,,,,,,0,0,0,969369,0,969369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,100701,2529397,LEY PUNCHE - ANEXO III,LEY 31728,,,,,,0,0,0,1369198,0,1369198
96,100701,2529454,LEY PUNCHE - ANEXO III,LEY 31728,,,,,,0,0,0,3396004,0,3396004
97,100702,0,FIDT,233-2023-EF,,,,,,0,0,0,0,99351,99351
98,100702,2076026,MVCS,129-2023-EF,,,,,,0,0,2492181,0,0,2492181
99,100703,2573513,FIDT,233-2023-EF,,,,,,0,0,0,0,2679782,2679782

In [17]:
# Realizar merge
trans19_23 = transferencias_19.merge(transferencias_20, on=['ID_PLIEGO', 'CODIGOSIAF'], how='outer', validate='1:1')
trans19_23 = trans19_23.merge(transferencias_21, on=['ID_PLIEGO', 'CODIGOSIAF'], how='outer', validate='1:1')
trans19_23 = trans19_23.merge(transferencias_22, on=['ID_PLIEGO', 'CODIGOSIAF'], how='outer', validate='1:1')
trans19_23 = trans19_23.merge(transferencias_23, on=['ID_PLIEGO', 'CODIGOSIAF'], how='outer', validate='1:1')
trans19_23.info()
trans19_23.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15808 entries, 0 to 15807
Data columns (total 78 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID_PLIEGO             15808 non-null  object
 1   CODIGOSIAF            15808 non-null  object
 2   HABILITADORES_19      5289 non-null   object
 3   Dispositivo1_19       5289 non-null   object
 4   Dispositivo2_19       5289 non-null   object
 5   Dispositivo3_19       5289 non-null   object
 6   Dispositivo4_19       5289 non-null   object
 7   Dispositivo5_19       5289 non-null   object
 8   Dispositivo6_19       5289 non-null   object
 9   MONTO_CONTINUIDAD_19  5289 non-null   float64
 10  MONTO_DS_SECTOR_19    5289 non-null   float64
 11  MONTO_LEY_30970       5289 non-null   float64
 12  MONTO_ART25_LEY30970  5289 non-null   float64
 13  MONTO_REPECHAJE       5289 non-null   float64
 14  MONTO_OC30            5289 non-null   float64
 15  MONTO_OTROS_19        5289 non-null   float64
 16  DSTOTAL_19            5289 non-null   float64
 17  MONTO_FONDES_19       5289 non-null   float64
 18  HABILITADORES_20      4345 non-null   object
 19  Dispositivo1_20       4345 non-null   object
 20  Dispositivo2_20       4345 non-null   object
 21  Dispositivo3_20       4345 non-null   object
 22  Dispositivo4_20       4345 non-null   object
 23  Dispositivo5_20       4345 non-null   object
 24  Dispositivo6_20       4345 non-null   object
 25  Dispositivo7_20       4345 non-null   object
 26  MONTO_CONTINUIDAD_20  4345 non-null   float64
 27  MONTO_FONDES_20       4345 non-null   float64
 28  MONTO_DS_SECTOR_20    4345 non-null   float64
 29  MONTO_REACTIVA_20     4345 non-null   float64
 30  MONTO_FIDT_20         4345 non-null   float64
 31  MONTO_PATS_20         4345 non-null   float64
 32  MONTO_FSA_20          4345 non-null   float64
 33  DSTOTAL_20            4345 non-null   float64
 34  HABILITADORES_21      4621 non-null   object
 35  Dispositivo1_21       4621 non-null   object
 36  Dispositivo2_21       4621 non-null   object
 37  Dispositivo3_21       4621 non-null   object
 38  Dispositivo4_21       4621 non-null   object
 39  MONTO_CONTINUIDAD_21  4621 non-null   float64
 40  MONTO_FONDES_21       4621 non-null   float64
 41  MONTO_DS_SECTOR_21    4621 non-null   float64
 42  MONTO_REACTIVA_21     4621 non-null   float64
 43  MONTO_PATS_21         4621 non-null   float64
 44  DSTOTAL_21            4621 non-null   float64
 45  HABILITADORES_22      5866 non-null   object
 46  Dispositivo1_22       5866 non-null   object
 47  Dispositivo2_22       5866 non-null   object
 48  Dispositivo3_22       5866 non-null   object
 49  Dispositivo4_22       5866 non-null   object
 50  Dispositivo5_22       5866 non-null   object
 51  Dispositivo6_22       5866 non-null   object
 52  MONTO_CONTINUIDAD_22  5866 non-null   float64
 53  MONTO_FONDES_22       5866 non-null   float64
 54  MONTO_DS_SECTOR_22    5866 non-null   float64
 55  MONTO_REACTIVA_22     5866 non-null   float64
 56  MONTO_FIDT_22         5866 non-null   float64
 57  MONTO_PATS_22         5866 non-null   float64
 58  MONTO_PREVISION_22    5866 non-null   float64
 59  MONTO_Ley31436_22     5866 non-null   float64
 60  MONTO_45DCF_22        5866 non-null   float64
 61  MONTO_FESC_22         5866 non-null   float64
 62  MONTO_AJUSTEANX2_22   5866 non-null   float64
 63  MONTO_Ley31538_22     5866 non-null   float64
 64  DSTOTAL_22            5866 non-null   float64
 65  HABILITADORES_23      3945 non-null   object
 66  Dispositivo1_23       3945 non-null   object
 67  Dispositivo2_23       3945 non-null   object
 68  Dispositivo3_23       3945 non-null   object
 69  Dispositivo4_23       3945 non-null   object
 70  Dispositivo5_23       3945 non-null   object
 71  Dispositivo6_23       3945 non-null   object
 72  MONTO_CONTINUIDAD_23  3945 non-null   float64
 73  MONTO_FONDES_23       3945 non-null   float64
 74  MONTO_DS_SECTOR_23    3945 non-null   float64
 75  MONTO_REACTIVA_23     3945 non-null   float64
 76  MONTO_FIDT_23         3945 non-null   float64
 77  DSTOTAL_23            3945 non-null   float64
dtypes: float64(42), object(36)
memory usage: 9.4+ MB

,ID_PLIEGO,CODIGOSIAF,HABILITADORES_19,Dispositivo1_19,Dispositivo2_19,Dispositivo3_19,Dispositivo4_19,Dispositivo5_19,Dispositivo6_19,MONTO_CONTINUIDAD_19,...,Dispositivo3_23,Dispositivo4_23,Dispositivo5_23,Dispositivo6_23,MONTO_CONTINUIDAD_23,MONTO_FONDES_23,MONTO_DS_SECTOR_23,MONTO_REACTIVA_23,MONTO_FIDT_23,DSTOTAL_23
0,99440,2090141,CONTINUIDAD,055-2019-EF,,,,,,15456256.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,99440,2094709,CONTINUIDAD,110-2019-EF,,,,,,223957.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99440,2157909,CONTINUIDAD,055-2019-EF,,,,,,1158307.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,99440,2158539,CONTINUIDAD+MTC,055-2019-EF,245-2019-EF,,,,,2404094.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,99440,2169296,CONTINUIDAD,055-2019-EF,,,,,,160556.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#Transferencias 2019-2023
resultados = pd.merge(Bd_estr2_anex, trans19_23, on=['ID_PLIEGO', 'CODIGOSIAF'], how='left', validate ='1:1', indicator = True)
postmerge(resultados)
resultados.rename(columns={'_merge':'match_trans21'}, inplace=True)
resultados.info()
resultados.head()

print('anexoI_2023: ', '{:,.0f}'.format(resultados.anexoI_2023.sum()))
print('anexoII_2023: ', '{:,.0f}'.format(resultados.anexoII_2023.sum()))
print('anexoIII_2023: ', '{:,.0f}'.format(resultados.anexoIII_2023.sum()))
print('anexoIV_2023: ', '{:,.0f}'.format(resultados.anexoIV_2023.sum()))
print('anexoII_2024: ', '{:,.0f}'.format(resultados.anexoII_2024.count()))
print('anexoII_2024: ', '{:,.0f}'.format(resultados.anexoII_2024.sum()))
print('anexoIV_2024: ', '{:,.0f}'.format(resultados.anexoIV_2024.sum()))
print('anexoVI_2024: ', '{:,.0f}'.format(resultados.anexoVI_2024.sum()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511785 entries, 0 to 511784
Columns: 132 entries, ID_PLIEGO to match_trans21
dtypes: category(4), float64(64), object(64)
memory usage: 501.7+ MB
anexoI_2023:  3,305,639,728
anexoII_2023:  26,174,213
anexoIII_2023:  39,071,375
anexoIV_2023:  3,397,338,901
anexoII_2024:  4,960
anexoII_2024:  3,484,243,286
anexoIV_2024:  2,151,836,017
anexoVI_2024:  502,766,735

### FONDES_2019

In [19]:
fondes_19= fondes2019.copy()
# Mantener solo proyectos
fondes_19 = fondes_19[fondes_19['TIPO_PROD_PROY'].str.startswith('2')]

# Generar 'CODIGOSIAF' 
fondes_19['CODIGOSIAF'] = fondes_19['PRODUCTO_PROYECTO'].str[:7]
fondes_19['CODIGOSIAF'] = pd.to_numeric(fondes_19['CODIGOSIAF'], errors='coerce')

# Generar 'tipo_cartera' 
fondes_19['tipo_cartera']= '3. FONDES'

# Generar ID_PLIEGO
fondes_19['ID_PLIEGO'] = np.where(fondes_19['NIVEL_GOBIERNO'].str[0].isin({'3', '1'}),
                                   fondes_19['SECTOR'].str.split('.').str[0] +
                                   fondes_19['PLIEGO'].str.split('.').str[0] +
                                   fondes_19['ENTIDAD'].str.split('.').str[0],
                                   np.where(fondes_19['NIVEL_GOBIERNO'].str.contains('2.'),
                                            fondes_19['SECTOR'].str.split('.').str[0] +
                                            fondes_19['PLIEGO'].str.split('.').str[0], ' '))

fondes_19['ID_PLIEGO'] = fondes_19['ID_PLIEGO'].astype(str)
fondes_19['CODIGOSIAF'] = fondes_19['CODIGOSIAF'].astype(str)

# Realizar agrupamiento

fondes_19 = fondes_19.groupby(['ID_PLIEGO', 'CODIGOSIAF']).agg({'MARCO_INCORPORADO' :'sum',
                                                                'tipo_cartera': 'first'}).reset_index()

fondes_19.rename(columns={'MARCO_INCORPORADO': 'MARCO_FONDES19'}, inplace=True)
fondes_19.head()
fondes_19['tipo_cartera'] = np.where(fondes_19['MARCO_FONDES19'] == 0, ' ', fondes_19['tipo_cartera'])
fondes_19.info()
fondes_19.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3913 entries, 0 to 3912
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_PLIEGO       3913 non-null   object
 1   CODIGOSIAF      3913 non-null   object
 2   MARCO_FONDES19  3913 non-null   int64
 3   tipo_cartera    3913 non-null   object
dtypes: int64(1), object(3)
memory usage: 122.4+ KB

  ID_PLIEGO CODIGOSIAF  MARCO_FONDES19 tipo_cartera
0    010501    2449206          401097    3. FONDES
1    010503    2447530           37000    3. FONDES
2    010503    2448777          118633    3. FONDES
3    010503    2449043          117225    3. FONDES
4    010503    2449248          205091    3. FONDES

###  FONDES_2020

In [20]:
fondes_20= fondes2020.copy()
# Mantener solo proyectos
fondes_20 = fondes_20[fondes_20['TIPO_PROD_PROY'].str.startswith('2')]

# Generar 'CODIGOSIAF' 
fondes_20['CODIGOSIAF'] = fondes_20['PRODUCTO_PROYECTO'].str[:7]
fondes_20['CODIGOSIAF'] = pd.to_numeric(fondes_20['CODIGOSIAF'], errors='coerce')

# Generar 'tipo_cartera' 
fondes_20['tipo_cartera']= '3. FONDES'

# Generar ID_PLIEGO
fondes_20['ID_PLIEGO'] = np.where(fondes_20['NIVEL_GOBIERNO'].str[0].isin({'3', '1'}),
                                   fondes_20['SECTOR'].str.split('.').str[0] +
                                   fondes_20['PLIEGO'].str.split('.').str[0] +
                                   fondes_20['ENTIDAD'].str.split('.').str[0],
                                   np.where(fondes_20['NIVEL_GOBIERNO'].str.contains('2.'),
                                            fondes_20['SECTOR'].str.split('.').str[0] +
                                            fondes_20['PLIEGO'].str.split('.').str[0], ' '))

fondes_20['ID_PLIEGO'] = fondes_20['ID_PLIEGO'].astype(str)
fondes_20['CODIGOSIAF'] = fondes_20['CODIGOSIAF'].astype(str)

# Realizar agrupamiento
fondes_20 = fondes_20.groupby(['ID_PLIEGO', 'CODIGOSIAF']).agg({'MARCO_INCORPORADO' :'sum',
                                                                'tipo_cartera': 'first'}).reset_index()

fondes_20.rename(columns={'MARCO_INCORPORADO': 'MARCO_FONDES20'}, inplace=True)

fondes_20['tipo_cartera'] = np.where(fondes_20['MARCO_FONDES20'] == 0, ' ', fondes_20['tipo_cartera'])
fondes_20.info()
fondes_20.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4272 entries, 0 to 4271
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_PLIEGO       4272 non-null   object
 1   CODIGOSIAF      4272 non-null   object
 2   MARCO_FONDES20  4272 non-null   int64
 3   tipo_cartera    4272 non-null   object
dtypes: int64(1), object(3)
memory usage: 133.6+ KB

  ID_PLIEGO CODIGOSIAF  MARCO_FONDES20 tipo_cartera
0  01001017    2000270        65176295    3. FONDES
1  01001017    2001621        13545526    3. FONDES
2  01001017    2321591        45418103    3. FONDES
3  01001017    2386533        39813547    3. FONDES
4  01001017    2386577        29278233    3. FONDES

### FONDES_2021

In [21]:
fondes_21= fondes2021.copy()
# Mantener solo proyectos
fondes_21 = fondes_21[fondes_21['TIPO_PROD_PROY'].str.startswith('2')]

# Generar 'CODIGOSIAF' 
fondes_21['CODIGOSIAF'] = fondes_21['PRODUCTO_PROYECTO'].str[:7]
fondes_21['CODIGOSIAF'] = pd.to_numeric(fondes_21['CODIGOSIAF'], errors='coerce')

# Generar 'tipo_cartera' 
fondes_21['tipo_cartera']= '3. FONDES'

# Generar ID_PLIEGO
fondes_21['ID_PLIEGO'] = np.where(fondes_21['NIVEL_GOBIERNO'].str[0].isin({'3', '1'}),
                                   fondes_21['SECTOR'].str.split('.').str[0] +
                                   fondes_21['PLIEGO'].str.split('.').str[0] +
                                   fondes_21['ENTIDAD'].str.split('.').str[0],
                                   np.where(fondes_21['NIVEL_GOBIERNO'].str.contains('2.'),
                                            fondes_21['SECTOR'].str.split('.').str[0] +
                                            fondes_21['PLIEGO'].str.split('.').str[0], ' '))

fondes_21['ID_PLIEGO'] = fondes_21['ID_PLIEGO'].astype(str)
fondes_21['CODIGOSIAF'] = fondes_21['CODIGOSIAF'].astype(str)

# Realizar agrupamiento
fondes_21 = fondes_21.groupby(['ID_PLIEGO', 'CODIGOSIAF']).agg({'MARCO_INCORPORADO' :'sum',
                                                                'tipo_cartera': 'first'}).reset_index()
fondes_21.rename(columns={'MARCO_INCORPORADO': 'MARCO_FONDES21'}, inplace=True)

fondes_21['tipo_cartera'] = np.where(fondes_21['MARCO_FONDES21'] == 0, ' ', fondes_21['tipo_cartera'])
fondes_21.info()
fondes_21.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_PLIEGO       289 non-null    object
 1   CODIGOSIAF      289 non-null    object
 2   MARCO_FONDES21  289 non-null    int64
 3   tipo_cartera    289 non-null    object
dtypes: int64(1), object(3)
memory usage: 9.2+ KB

  ID_PLIEGO CODIGOSIAF  MARCO_FONDES21 tipo_cartera
0  01001017    2000270       501196971    3. FONDES
1  01001017    2001621     14475368763    3. FONDES
2  01001017    2089754      1061274258    3. FONDES
3  01001017    2321591       190500000    3. FONDES
4  01001017    2362485       268800000    3. FONDES

### FONDES_2022

In [22]:
fondes_22= fondes2022.copy()
# Mantener solo proyectos
fondes_22 = fondes_22[fondes_22['TIPO_PROD_PROY'].str.startswith('2')]

# Generar 'CODIGOSIAF' 
fondes_22['CODIGOSIAF'] = fondes_22['PRODUCTO_PROYECTO'].str[:7]
fondes_22['CODIGOSIAF'] = pd.to_numeric(fondes_22['CODIGOSIAF'], errors='coerce')

# Generar 'tipo_cartera' 
fondes_22['tipo_cartera']= '3. FONDES'

# Generar ID_PLIEGO
fondes_22['ID_PLIEGO'] = np.where(fondes_22['NIVEL_GOBIERNO'].str[0].isin({'3', '1'}),
                                   fondes_22['SECTOR'].str.split('.').str[0] +
                                   fondes_22['PLIEGO'].str.split('.').str[0] +
                                   fondes_22['ENTIDAD'].str.split('.').str[0],
                                   np.where(fondes_22['NIVEL_GOBIERNO'].str.contains('2.'),
                                            fondes_22['SECTOR'].str.split('.').str[0] +
                                            fondes_22['PLIEGO'].str.split('.').str[0], ' '))

fondes_22['ID_PLIEGO'] = fondes_22['ID_PLIEGO'].astype(str)
fondes_22['CODIGOSIAF'] = fondes_22['CODIGOSIAF'].astype(str)

# Realizar agrupamiento
fondes_22 = fondes_22.groupby(['ID_PLIEGO', 'CODIGOSIAF']).agg({'MARCO_INCORPORADO' :'sum',
                                                                'tipo_cartera': 'first'}).reset_index()
fondes_22.rename(columns={'MARCO_INCORPORADO': 'MARCO_FONDES22'}, inplace=True)

fondes_22['tipo_cartera'] = np.where(fondes_22['MARCO_FONDES22'] == 0, ' ', fondes_22['tipo_cartera'])
fondes_22.info()
fondes_22.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4305 entries, 0 to 4304
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_PLIEGO       4305 non-null   object
 1   CODIGOSIAF      4305 non-null   object
 2   MARCO_FONDES22  4305 non-null   int64
 3   tipo_cartera    4305 non-null   object
dtypes: int64(1), object(3)
memory usage: 134.7+ KB

  ID_PLIEGO CODIGOSIAF  MARCO_FONDES22 tipo_cartera
0  01001017    2000270        49245170    3. FONDES
1  01001017    2001621         8284347    3. FONDES
2  01001017    2321591       203874190    3. FONDES
3  01001017    2362485        56294857    3. FONDES
4  01001017    2386498        53596211    3. FONDES

### FONDES_2023

In [23]:
fondes_23= fondes2023.copy()
# Mantener solo proyectos
fondes_23 = fondes_23[fondes_23['TIPO_PROD_PROY'].str.startswith('2')]

# Generar 'CODIGOSIAF' 
fondes_23['CODIGOSIAF'] = fondes_23['PRODUCTO_PROYECTO'].str[:7]
fondes_23['CODIGOSIAF'] = pd.to_numeric(fondes_23['CODIGOSIAF'], errors='coerce')

# Generar 'tipo_cartera' 
fondes_23['tipo_cartera']= '3. FONDES'

# Generar ID_PLIEGO
fondes_23['ID_PLIEGO'] = np.where(fondes_23['NIVEL_GOBIERNO'].str[0].isin({'3', '1'}),
                                   fondes_23['SECTOR'].str.split('.').str[0] +
                                   fondes_23['PLIEGO'].str.split('.').str[0] +
                                   fondes_23['ENTIDAD'].str.split('.').str[0],
                                   np.where(fondes_23['NIVEL_GOBIERNO'].str.contains('2.'),
                                            fondes_23['SECTOR'].str.split('.').str[0] +
                                            fondes_23['PLIEGO'].str.split('.').str[0], ' '))

fondes_23['ID_PLIEGO'] = fondes_23['ID_PLIEGO'].astype(str)
fondes_23['CODIGOSIAF'] = fondes_23['CODIGOSIAF'].astype(str)

# Realizar agrupamiento
fondes_23 = fondes_23.groupby(['ID_PLIEGO', 'CODIGOSIAF']).agg({'MARCO_INCORPORADO' :'sum',
                                                                'tipo_cartera': 'first'}).reset_index()
fondes_23.rename(columns={'MARCO_INCORPORADO': 'MARCO_FONDES23'}, inplace=True)

fondes_23['tipo_cartera'] = np.where(fondes_23['MARCO_FONDES23'] == 0, ' ', fondes_23['tipo_cartera'])
fondes_23.info()
fondes_23.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3344 entries, 0 to 3343
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_PLIEGO       3344 non-null   object
 1   CODIGOSIAF      3344 non-null   object
 2   MARCO_FONDES23  3344 non-null   int64
 3   tipo_cartera    3344 non-null   object
dtypes: int64(1), object(3)
memory usage: 104.6+ KB

  ID_PLIEGO CODIGOSIAF  MARCO_FONDES23 tipo_cartera
0  01001017    2000270        16555937    3. FONDES
1  01001017    2001621      -240443957    3. FONDES
2  01001017    2321591        28060882    3. FONDES
3  01001017    2362485        96725196    3. FONDES
4  01001017    2386498       152228546    3. FONDES

### Unión de bases (Fondes 19-23)

In [24]:
# Realizar merge
fondes19_23 = fondes_19.merge(fondes_20, on=['ID_PLIEGO', 'CODIGOSIAF'], how='outer', validate='1:1')
postmerge(fondes19_23)
fondes19_23 = fondes19_23.merge(fondes_21, on=['ID_PLIEGO', 'CODIGOSIAF'], how='outer', validate='1:1')
postmerge(fondes19_23)
fondes19_23 = fondes19_23.merge(fondes_22, on=['ID_PLIEGO', 'CODIGOSIAF'], how='outer', validate='1:1')
postmerge(fondes19_23)
fondes19_23 = fondes19_23.merge(fondes_23, on=['ID_PLIEGO', 'CODIGOSIAF'], how='outer', validate='1:1')
postmerge(fondes19_23)
# Actualizar variables MARCO_FONDESxx en el conjunto de datos principal
for x in range(19, 24):
    fondes19_23[f'MARCO_FONDES{x}'].fillna(0, inplace=True)
fondes19_23.info()
fondes19_23.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_PLIEGO       7668 non-null   object
 1   CODIGOSIAF      7668 non-null   object
 2   MARCO_FONDES19  7668 non-null   float64
 3   MARCO_FONDES20  7668 non-null   float64
 4   MARCO_FONDES21  7668 non-null   float64
 5   MARCO_FONDES22  7668 non-null   float64
 6   MARCO_FONDES23  7668 non-null   float64
 7   tipo_cartera    7668 non-null   object
dtypes: float64(5), object(3)
memory usage: 479.4+ KB

,ID_PLIEGO,CODIGOSIAF,MARCO_FONDES19,MARCO_FONDES20,MARCO_FONDES21,MARCO_FONDES22,MARCO_FONDES23,tipo_cartera
0,010501,2449206,401097.0,335530.0,0.0,0.0,0.0,3. FONDES
1,010503,2447530,37000.0,37000.0,0.0,0.0,0.0,3. FONDES
2,010503,2448777,118633.0,118633.0,0.0,21686.0,0.0,3. FONDES
3,010503,2449043,117225.0,117225.0,0.0,0.0,0.0,3. FONDES
4,010503,2449248,205091.0,205091.0,0.0,11911.0,0.0,3. FONDES

### Base Contratos

In [25]:
contratos22=contratos22_glgrgn.copy()
contratos23=contratos23_glgrgn.copy()
# Concatenar los DataFrames
Contratos = pd.concat([contratos22_glgrgn, contratos23_glgrgn], ignore_index=True)

# Realizar el colaps por MONTO_COMPRO_ANUAL
Contratos = Contratos.groupby(['ANO_EJE', 'SEC_EJEC', 'NIVEL_GOB', 'SECTOR', 'PLIEGO', 'EJECUTORA', 'ACT_PROY', 'ACT_PROY_NOMBRE', 
                               'CERT_SECUENCIA', 'ID_PROCESO', 'NUM_PROCESO', 'ANO_CONVOCATORIA', 'NOMENCLATURA_PROCESO', 
                               'DESCRIPCION_PROCESO', 'ID_CONTRATO', 'TIPO_MONEDA', 'TIPO_CAMBIO_SBS', 'MONTO_CONTRATO', 
                               'ESTADO', 'DESCRIPCION_CONTRATO', 'FECHA_CONTRATO', 'FECHA_INICIO_CONTRATO', 
                               'FECHA_FIN_CONTRATO', 'SIGLAS', 'FUENTE', 'RUBRO', 'MONTO_PIA', 'MONTO_PIM', 'MONTO_COMPRO_MENSUAL', 
                               'MONTO_DEVENGADO']).agg({'MONTO_COMPRO_ANUAL': 'sum'}).reset_index()

#Eliminar variables EJECUTORA', 'NIVEL_GOB', 'SECTOR', 'PLIEGO', 'EJECUTORA'
Contratos = Contratos.drop(columns=['EJECUTORA', 'NIVEL_GOB', 'SECTOR', 'PLIEGO'])

# Eliminar duplicados
Contratos.drop_duplicates(inplace=True)

# Filtrar y procesar los datos
Contratos = Contratos[(Contratos['ID_CONTRATO'] != 0) & (Contratos['ID_CONTRATO']!= ' ')]
Contratos = Contratos[(Contratos['MONTO_CONTRATO'] != 0)]

 
# Cargar los DataFrames
sec_ejec= bsec_ejec.copy()

# Realizar merge
Contratos = Contratos.merge(sec_ejec, on=['SEC_EJEC'], how='left', validate='m:1',  indicator = True)


# Filtrar filas
Contratos = Contratos[Contratos['_merge'] != 'left_only']


# Eliminar columnas adicionales
Contratos.drop(['_merge'], axis=1, inplace=True)

# Generar la columna ID_PLIEGO

Contratos['ID_PLIEGO'] = np.where(Contratos['NIVEL_GOB'].str[0].isin({'3', '1'}),
                                   Contratos['SECTOR'].str.split('.').str[0] +
                                   Contratos['PLIEGO'].str.split('.').str[0] +
                                   Contratos['EJECUTORA'].str.split('.').str[0],
                                   np.where(Contratos['NIVEL_GOB'].str.contains('2.'),
                                            Contratos['SECTOR'].str.split('.').str[0] +
                                            Contratos['PLIEGO'].str.split('.').str[0], ' '))

# Renombrar la columna ACT_PROY a CODIGOSIAF
Contratos.rename(columns={'ACT_PROY': 'CODIGOSIAF'}, inplace=True)

Contratos['ID_PLIEGO'] = Contratos['ID_PLIEGO'].astype(str)
Contratos['CODIGOSIAF'] = Contratos['CODIGOSIAF'].astype(str)

# Realizar agrupamiento por ID_CONTRATO, ID_PLIEGO y CODIGOSIAF

Contratos = Contratos.groupby(['ID_CONTRATO', 'ID_PLIEGO', 'CODIGOSIAF']).agg({'MONTO_CONTRATO': 'sum',
                                                                               'FECHA_FIN_CONTRATO': 'first',
                                                                               'DESCRIPCION_CONTRATO': 'first',
                                                                               'MONTO_DEVENGADO': 'sum'}).reset_index()



# Agregar la columna NUM_CONTRATOS_2023
Contratos['NUM_CONTRATOS_2023'] = 1

# Realizar el colapso por ID_PLIEGO y CODIGOSIAF
Contratos = Contratos.groupby(['ID_PLIEGO', 'CODIGOSIAF']).agg({'MONTO_CONTRATO': 'sum',
                                                                'NUM_CONTRATOS_2023': 'sum',
                                                                'MONTO_DEVENGADO': 'sum'}).reset_index()
# Crear DEV_CONTR
Contratos['DEV_CONTR'] = Contratos['MONTO_DEVENGADO']

# Crear PEND_CONTR
Contratos['PEND_CONTR'] = Contratos['MONTO_CONTRATO'] - Contratos['DEV_CONTR']
Contratos.loc[Contratos['PEND_CONTR'] <= 0, 'PEND_CONTR'] = 0

Contratos.info()
Contratos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3100 entries, 0 to 3099
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_PLIEGO           3100 non-null   object
 1   CODIGOSIAF          3100 non-null   object
 2   MONTO_CONTRATO      3100 non-null   float64
 3   NUM_CONTRATOS_2023  3100 non-null   int64
 4   MONTO_DEVENGADO     3100 non-null   float64
 5   DEV_CONTR           3100 non-null   float64
 6   PEND_CONTR          3100 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 169.7+ KB

,ID_PLIEGO,CODIGOSIAF,MONTO_CONTRATO,NUM_CONTRATOS_2023,MONTO_DEVENGADO,DEV_CONTR,PEND_CONTR
0,01001003,2410948,1.191953e+05,1,20486.96,20486.96,9.870838e+04
1,01001017,2000270,4.527587e+09,1,25807211.66,25807211.66,4.501780e+09
2,01001017,2321591,4.372390e+09,3,83889354.83,83889354.83,4.288501e+09
3,01001017,2362485,3.961639e+09,1,2544636.85,2544636.85,3.959094e+09
4,01001017,2386498,3.961639e+09,1,2335135.79,2335135.79,3.959304e+09

### BASE PARA GRUPOS: CON PROCESO EN EL SEACE (MOD)

In [26]:
procesos_23= procesos23_glgrgn.copy()

# Filtrar por DESCRIPCION_ESTADO_ITEM
procesos_23 = procesos_23.drop(procesos_23[procesos_23['DESCRIPCION_ESTADO_ITEM'].isin(['DESIERTO', 'NULO', 'CANCELADO', 'NO SUSCRIPCIÓN DEL CONTRATO POR DECISIÓN DE LA ENTIDAD', 'RETROTRAÍDO POR RESOLUCIÓN'])].index)

# Convertir ACT_PROY y mantener solo aquellos que comienzan con "2"
procesos_23['ACT_PROY'] = procesos_23['ACT_PROY'].astype(str)
procesos_23 = procesos_23[procesos_23['ACT_PROY'].str.startswith('2')]
procesos_23['ACT_PROY'] = pd.to_numeric(procesos_23['ACT_PROY'], errors='coerce')

#Guardar temporalmente NOMENCLATURA_PROCESO, SEC_EJEC y ACT_PROY en un archivo temporal
contratos22=contratos22_glgrgn.copy()
temp_contr = contratos22[['NOMENCLATURA_PROCESO', 'SEC_EJEC', 'ACT_PROY']].drop_duplicates()

#Realizar merge m:1 con temp_contr
procesos_23 = pd.merge(procesos_23, temp_contr, on=['NOMENCLATURA_PROCESO', 'SEC_EJEC', 'ACT_PROY'], how='outer', validate='m:1', indicator=True)
procesos_23.drop('_merge', axis=1, inplace=True)

# Merge m:1 con secejec_pliego
procesos_23 = pd.merge(procesos_23, sec_ejec, on='SEC_EJEC', how='left', validate='m:1', indicator = True)
procesos_23.drop('_merge', axis=1, inplace=True)
postmerge(procesos_23)

#Generar ID_PLIEGO
procesos_23['ID_PLIEGO'] = np.where(procesos_23['NIVEL_GOB'].str[0].isin({'3', '1'}),
                                   procesos_23['SECTOR'].str.split('.').str[0] +
                                   procesos_23['PLIEGO'].str.split('.').str[0] +
                                   procesos_23['EJECUTORA'].str.split('.').str[0],
                                   np.where(procesos_23['NIVEL_GOB'].str.contains('2.'),
                                            procesos_23['SECTOR'].str.split('.').str[0] +
                                            procesos_23['PLIEGO'].str.split('.').str[0], ' '))

#Renombrar
procesos_23.rename(columns={'ACT_PROY': 'CODIGOSIAF'}, inplace=True)

procesos_23['ID_PLIEGO'] = procesos_23['ID_PLIEGO'].astype(str)
procesos_23['CODIGOSIAF'] = procesos_23['CODIGOSIAF'].astype(str)


# Seleccionar columnas específicas
procesos_23 = procesos_23[['ID_PLIEGO', 'ID_PROCESO', 'CODIGOSIAF', 'NOMENCLATURA_PROCESO', 'ID_PROCESO_ITEM', 'MONTO_ADJUDICADO_ITEM', 'MONTO_REFERENCIAL_ITEM', 'DESCRIPCION_ESTADO_ITEM', 'NOMENCLATURA_PROCESO']]
procesos_23 = procesos_23.drop_duplicates()
procesos_23['d'] = procesos_23.duplicated(subset=['NOMENCLATURA_PROCESO', 'ID_PROCESO_ITEM', 'CODIGOSIAF'])

# Reemplazar MONTO_ADJUDICADO_ITEM con 0 si es nulo
procesos_23['MONTO_ADJUDICADO_ITEM'] = procesos_23['MONTO_ADJUDICADO_ITEM'].fillna(0)

# Ordenar el DataFrame
procesos_23 = procesos_23.sort_values(by=['ID_PROCESO', 'ID_PROCESO_ITEM', 'CODIGOSIAF', 'MONTO_ADJUDICADO_ITEM'], ascending=[True, True, True, False])

# Generar la variable 'orden'
procesos_23['orden'] = procesos_23.groupby(['ID_PROCESO', 'ID_PROCESO_ITEM', 'CODIGOSIAF']).cumcount() + 1

# Filtrar según condiciones específicas
procesos_23 = procesos_23[~((procesos_23['d'] > 0) & (procesos_23['orden'] == 2))]

# Generar MONTO_PROCESO
procesos_23['MONTO_PROCESO'] = np.where(procesos_23['MONTO_ADJUDICADO_ITEM'] != 0, procesos_23['MONTO_ADJUDICADO_ITEM'], 0)
procesos_23['MONTO_PROCESO'] = np.where(procesos_23['MONTO_PROCESO']== 0, procesos_23['MONTO_REFERENCIAL_ITEM'], 
                                        np.where(procesos_23['DESCRIPCION_ESTADO_ITEM'] == 'CONTRATADO', 0, procesos_23['MONTO_PROCESO']))

# Generar MONTO_CONTRATO_2
procesos_23['MONTO_CONTRATO_2'] =  np.where(procesos_23['DESCRIPCION_ESTADO_ITEM'] == 'CONTRATADO', procesos_23['MONTO_ADJUDICADO_ITEM'], 0)

# Seleccionar columnas finales
procesos_23 = procesos_23[['ID_PLIEGO', 'CODIGOSIAF', 'NOMENCLATURA_PROCESO', 'MONTO_PROCESO', 'MONTO_CONTRATO_2']]

# Eliminar duplicados
procesos_23 = procesos_23.drop_duplicates()

# Generar NUM_PROCESOS
procesos_23['NUM_PROCESOS'] = 1

# Agrupar y colapsar
procesos_23 = procesos_23.groupby(['ID_PLIEGO', 'CODIGOSIAF']).agg({'NUM_PROCESOS': 'sum',
                                                                    'MONTO_PROCESO': 'sum',
                                                                    'MONTO_CONTRATO_2': 'sum'}).reset_index()
procesos_23.info()
procesos_23.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68120 entries, 0 to 68119
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_PLIEGO         68120 non-null  object
 1   CODIGOSIAF        68120 non-null  object
 2   NUM_PROCESOS      68120 non-null  int64
 3   MONTO_PROCESO     68120 non-null  float64
 4   MONTO_CONTRATO_2  68120 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.6+ MB

  ID_PLIEGO CODIGOSIAF  NUM_PROCESOS  MONTO_PROCESO  MONTO_CONTRATO_2
0  01001003    2410948             3            0.0               0.0
1  01001003    2478903             6            0.0               0.0
2  01001003    2487062             2            0.0               0.0
3  01001003    2498951             1            0.0               0.0
4  01001003    2502976             2            0.0               0.0

### Base Formato 12-B - FISICO

In [27]:
segfis= seg_fis.copy()
# Seleccionar columnas específicas
segfis = segfis[['COD_UNICO', 'AVANCE', 'PERIODO', 'MONTO', 'TIPO_REPORTE']]

# Renombrar columnas
segfis.rename(columns={'COD_UNICO': 'CODIGOSIAF', 'MONTO': 'MONTO_F12B'}, inplace=True)
segfis['MONTO_F12B'] = segfis['MONTO_F12B'].fillna(0)
segfis= segfis[segfis['TIPO_REPORTE'] == 'F12B']
segfis= segfis[segfis['AVANCE'] == 'ACTUALIZADO']

# Convertir CODIGOSIAF a tipo string
segfis['CODIGOSIAF'] = segfis['CODIGOSIAF'].astype(str)

segfis = segfis.groupby(['CODIGOSIAF']).agg({'MONTO_F12B': 'sum'}).reset_index()

# Eliminar duplicados
segfis.drop_duplicates(inplace=True)
seg_fis.info()
segfis.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962436 entries, 0 to 962435
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   COD_UNICO          962436 non-null  int64
 1   NOMBRE_INVERSION   962436 non-null  object
 2   AVANCE             962436 non-null  object
 3   PERIODO            962436 non-null  object
 4   MONTO              962270 non-null  float64
 5   TIPO_REPORTE       962292 non-null  object
 6   COD_ULT_EJECUTORA  955044 non-null  float64
 7   FEC_ULT_ACT        961728 non-null  object
 8   DES_MODALIDAD      954324 non-null  object
 9   FECHA_CORTE        962436 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 73.4+ MB

  CODIGOSIAF  MONTO_F12B
0    2000846   194640.00
1    2000847        0.00
2    2002060  6551892.03
3    2002207        0.00
4    2002210  1840135.13

### Unión Bases Generales

In [28]:
# Anexos Ley 2019 - Anexo I
anexo1_f['ID_PLIEGO'] = anexo1_f['ID_PLIEGO'].astype(str)
anexo1_f['CODIGOSIAF'] = anexo1_f['CODIGOSIAF'].astype(str)
anexo1_f = anexo1_f[['ID_PLIEGO', 'CODIGOSIAF', 'MONTO_ANEXO1']]
resultados2 = pd.merge(resultados, anexo1_f, on=['ID_PLIEGO', 'CODIGOSIAF'], how='left', indicator = True)
postmerge(resultados2)
resultados2.drop(columns={'_merge'}, inplace=True)

# Anexos Ley 2019 - Anexo II
anexo2_f['ID_PLIEGO'] = anexo2_f['ID_PLIEGO'].astype(str)
anexo2_f['CODIGOSIAF'] = anexo2_f['CODIGOSIAF'].astype(str)
anexo2_f = anexo2_f[['ID_PLIEGO', 'CODIGOSIAF', 'MONTO_ANEXO2']]
resultados2 = pd.merge(resultados2, anexo2_f, on=['ID_PLIEGO', 'CODIGOSIAF'], how='left', indicator = True)
postmerge(resultados2)
resultados2.drop(columns={'_merge'}, inplace=True)

# Anexos Ley 2020
pl_2020_f['ID_PLIEGO'] = pl_2020_f['ID_PLIEGO'].astype(str)
pl_2020_f['CODIGOSIAF'] = pl_2020_f['CODIGOSIAF'].astype(str)
resultados2 = pd.merge(resultados2, pl_2020_f, on=['ID_PLIEGO', 'CODIGOSIAF'], how='left', indicator = True)
postmerge(resultados2)
resultados2.drop(columns={'_merge'}, inplace=True)

# Anexos Ley 2021
plantilla_2021_f['ID_PLIEGO'] = plantilla_2021_f['ID_PLIEGO'].astype(str)
plantilla_2021_f['CODIGOSIAF'] = plantilla_2021_f['CODIGOSIAF'].astype(str)
resultados2 = pd.merge(resultados2, plantilla_2021_f, on=['ID_PLIEGO', 'CODIGOSIAF'], how='left', indicator = True)
postmerge(resultados2)
resultados2.drop(columns={'_merge'}, inplace=True)

# Anexos Ley 2022
plantilla_2022_f['ID_PLIEGO'] = plantilla_2022_f['ID_PLIEGO'].astype(str)
plantilla_2022_f['CODIGOSIAF'] = plantilla_2022_f['CODIGOSIAF'].astype(str)
resultados2 = pd.merge(resultados2, plantilla_2022_f, on=['ID_PLIEGO', 'CODIGOSIAF'], how='left', indicator = True)
postmerge(resultados2)
resultados2.drop(columns={'_merge'}, inplace=True)
resultados2.info()
resultados2.head()

print('anexoI_2023: ', '{:,.0f}'.format(resultados2.anexoI_2023.sum()))
print('anexoII_2023: ', '{:,.0f}'.format(resultados2.anexoII_2023.sum()))
print('anexoIII_2023: ', '{:,.0f}'.format(resultados2.anexoIII_2023.sum()))
print('anexoIV_2023: ', '{:,.0f}'.format(resultados2.anexoIV_2023.sum()))
print('anexoII_2024: ', '{:,.0f}'.format(resultados2.anexoII_2024.count()))
print('anexoII_2024: ', '{:,.0f}'.format(resultados2.anexoII_2024.sum()))
print('anexoIV_2024: ', '{:,.0f}'.format(resultados2.anexoIV_2024.sum()))
print('anexoVI_2024: ', '{:,.0f}'.format(resultados2.anexoVI_2024.sum()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511785 entries, 0 to 511784
Columns: 146 entries, ID_PLIEGO to anexoII_2022
dtypes: category(4), float64(78), object(64)
memory usage: 556.4+ MB
anexoI_2023:  3,305,639,728
anexoII_2023:  26,174,213
anexoIII_2023:  39,071,375
anexoIV_2023:  3,397,338,901
anexoII_2024:  4,960
anexoII_2024:  3,484,243,286
anexoIV_2024:  2,151,836,017
anexoVI_2024:  502,766,735

In [29]:
# Anexos ARCC
resultados2 = pd.merge(resultados2, fondes19_23, on=['ID_PLIEGO', 'CODIGOSIAF'], how='left', indicator = True)
postmerge(resultados2)
resultados2.rename(columns={'_merge':'match_fondes'}, inplace=True)

# Anexos CONTRATOS 2023
resultados2 = pd.merge(resultados2, Contratos, on=['ID_PLIEGO', 'CODIGOSIAF'], how='left', indicator = True)
postmerge(resultados2)
resultados2.rename(columns={'_merge':'match_cont_2023'}, inplace=True)

# Anexos procesos23
resultados2 = pd.merge(resultados2, procesos_23,on=['ID_PLIEGO', 'CODIGOSIAF'], how='left', indicator = True)
postmerge(resultados2)
resultados2.rename(columns={'_merge':'match_proc23'}, inplace=True)

resultados2.info()
resultados2.head()

print('anexoI_2023: ', '{:,.0f}'.format(resultados2.anexoI_2023.sum()))
print('anexoII_2023: ', '{:,.0f}'.format(resultados2.anexoII_2023.sum()))
print('anexoIII_2023: ', '{:,.0f}'.format(resultados2.anexoIII_2023.sum()))
print('anexoIV_2023: ', '{:,.0f}'.format(resultados2.anexoIV_2023.sum()))
print('anexoII_2024: ', '{:,.0f}'.format(resultados2.anexoII_2024.count()))
print('anexoII_2024: ', '{:,.0f}'.format(resultados2.anexoII_2024.sum()))
print('anexoIV_2024: ', '{:,.0f}'.format(resultados2.anexoIV_2024.sum()))
print('anexoVI_2024: ', '{:,.0f}'.format(resultados2.anexoVI_2024.sum()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511785 entries, 0 to 511784
Columns: 163 entries, ID_PLIEGO to match_proc23
dtypes: category(7), float64(91), object(65)
memory usage: 612.5+ MB
anexoI_2023:  3,305,639,728
anexoII_2023:  26,174,213
anexoIII_2023:  39,071,375
anexoIV_2023:  3,397,338,901
anexoII_2024:  4,960
anexoII_2024:  3,484,243,286
anexoIV_2024:  2,151,836,017
anexoVI_2024:  502,766,735

In [30]:
# Anexos OXI
oxi_f['CODIGOSIAF'] = oxi_f['CODIGOSIAF'].astype(str)
resultados2 = pd.merge(resultados2, oxi_f, on='CODIGOSIAF', how='left', indicator = True)
postmerge(resultados2)
resultados2.rename(columns={'_merge':'match_oxi'}, inplace=True)

# Anexos APP
app_f['ID_PLIEGO'] = app_f['ID_PLIEGO'].astype(str)
app_f['CODIGOSIAF'] = app_f['CODIGOSIAF'].astype(str)
resultados2 = pd.merge(resultados2, app_f, on=['ID_PLIEGO', 'CODIGOSIAF'], how='left', indicator = True)
postmerge(resultados2)
resultados2.rename(columns={'_merge':'match_app'}, inplace=True)

# Dispositivos legales desf
disp_legal_desf['ID_PLIEGO'] = disp_legal_desf['ID_PLIEGO'].astype(str)
disp_legal_desf['CODIGOSIAF'] = disp_legal_desf['CODIGOSIAF'].astype(str)
resultados2 = pd.merge(resultados2, disp_legal_desf, on=['ID_PLIEGO', 'CODIGOSIAF'], how='left', indicator = True)
postmerge(resultados2)
resultados2.rename(columns={'_merge':'match_displegal'}, inplace=True)

# base ficha 12_b
segfis['CODIGOSIAF'] = segfis['CODIGOSIAF'].astype(str)
resultados2 = pd.merge(resultados2, segfis, on='CODIGOSIAF', how='left', indicator = True)
postmerge(resultados2)
resultados2.rename(columns={'_merge':'match_fisf'}, inplace=True)

# Tabstat
PIM_2024 = resultados2['PIM_2024'].sum()
print(PIM_2024)
resultados2.info()
resultados2.head()

print('anexoI_2023: ', '{:,.0f}'.format(resultados2.anexoI_2023.sum()))
print('anexoII_2023: ', '{:,.0f}'.format(resultados2.anexoII_2023.sum()))
print('anexoIII_2023: ', '{:,.0f}'.format(resultados2.anexoIII_2023.sum()))
print('anexoIV_2023: ', '{:,.0f}'.format(resultados2.anexoIV_2023.sum()))
print('anexoII_2024: ', '{:,.0f}'.format(resultados2.anexoII_2024.count()))
print('anexoII_2024: ', '{:,.0f}'.format(resultados2.anexoII_2024.sum()))
print('anexoIV_2024: ', '{:,.0f}'.format(resultados2.anexoIV_2024.sum()))
print('anexoVI_2024: ', '{:,.0f}'.format(resultados2.anexoVI_2024.sum()))

65426505976.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511785 entries, 0 to 511784
Columns: 171 entries, ID_PLIEGO to match_fisf
dtypes: category(11), float64(92), object(68)
memory usage: 630.1+ MB
anexoI_2023:  3,305,639,728
anexoII_2023:  26,174,213
anexoIII_2023:  39,071,375
anexoIV_2023:  3,397,338,901
anexoII_2024:  4,960
anexoII_2024:  3,484,243,286
anexoIV_2024:  2,151,836,017
anexoVI_2024:  502,766,735

In [31]:
resultados3 = resultados2.copy()

# DAR FORMATO
resultados3['ESTADO_BCO'] = np.where((resultados3['match_str3'] == 'right_only') & (resultados3['match_str2023'] == 'left_only'), resultados3 ['ESTADO_BCO_13'], resultados3['ESTADO_BCO'])
resultados3['SITUACION_BCO'] = np.where((resultados3['match_str3'] == 'right_only') & (resultados3['match_str2023'] == 'left_only'), resultados3 ['SITUACION_BCO_13'], resultados3['SITUACION_BCO'])
resultados3['COSTO_ACTUAL_BCO'] = np.where((resultados3['match_str3'] == 'right_only') & (resultados3['match_str2023'] == 'left_only'), resultados3 ['COSTO_ACTUAL_BCO_13'], resultados3['COSTO_ACTUAL_BCO'])
resultados3['EXP_TCO_BCO'] = np.where((resultados3['match_str3'] == 'right_only') & (resultados3['match_str2023'] == 'left_only'), resultados3 ['EXP_TCO_BCO_13'], resultados3['EXP_TCO_BCO'])
resultados3['CERRADO_BCO'] = np.where((resultados3['match_str3'] == 'right_only') & (resultados3['match_str2023'] == 'left_only'), resultados3 ['CERRADO_13'], resultados3['CERRADO_BCO'])

# Reemplazar
resultados3['CERRADO_BCO'] = resultados3['CERRADO_BCO'].replace({'SI': 'SÍ'})
resultados3['EXP_TCO_BCO'] = resultados3['EXP_TCO_BCO'].replace({'SI': 'SÍ'})

lista_col= ['PIA_2022', 'PIM_2022', 'DEV_2022', 'PIA_2023', 'PIM_2023', 'DEV_2023', 'COSTO_ACTUAL_BCO', 'ACM_DEV_AL2022', 'ACM_DEV_AL2023',
                           'PIA_2024', 'PIM_2024', 'CERT_2024', 'COMP_2024', 'DEV_2024', 'COSTO_ACTUAL_BCO_13', 'MONTO_ANEXO1', 'MONTO_ANEXO2',
                           'anexoI_2021', 'anexoII_2021', 'anexoIII_2021', 'anexoIV_2021', 'anexoVII_2021', 'MARCO_FONDES21', 'MONTO_CONTRATO',
                           'DEV_CONTR', 'PEND_CONTR', 'NUM_PROCESOS', 'MONTO_PROCESO', 'MONTO_CONTRATO_2', 'MONTO_CONTINUIDAD_21',
                           'MONTO_FONDES_21', 'DSTOTAL_21', 'MONTO_DS_SECTOR_21', 'MONTO_PCM', 'MONTO_REACTIVA_21', 'MONTO_PATS_21',
                           'anexoI_2022', 'anexoII_2022', 'MONTO_CONTINUIDAD_22', 'MONTO_FONDES_22', 'MONTO_DS_SECTOR_22', 'MONTO_REACTIVA_22',
                           'MONTO_FIDT_22', 'MONTO_PATS_22', 'MONTO_PREVISION_22', 'MONTO_Ley31436_22', 'MONTO_45DCF_22', 'MONTO_FESC_22',
                           'MONTO_AJUSTEANX2_22', 'MONTO_Ley31538_22', 'DSTOTAL_22', 'anexoI_2023', 'anexoII_2023', 'anexoIII_2023',
                           'anexoIV_2023', 'MARCO_FONDES23', 'MONTO_FIDT_20', 'anexoII_2021', 'MONTO_FIDT_22', 'MONTO_REACTIVA_20', 'MONTO_REACTIVA_21',
                           'MONTO_REACTIVA_22', 'MONTO_REACTIVA_23', 'MONTO_DS_SECTOR_19', 'MONTO_DS_SECTOR_20', 'MONTO_ANEXO1', 'MONTO_ANEXOI',
                           'anexoI_2021', 'MONTO_DS_SECTOR_21', 'anexoI_2022', 'MONTO_DS_SECTOR_22', 'anexoIV_2024', 'anexoII_2024', 'anexoVI_2024']
for col in lista_col:
    resultados3[col]=resultados3[col].fillna(0)

# agrupar por codigo siaf y sumar cada variables
resultados3['DEV2022_total'] = resultados3.groupby('CODIGOSIAF')['DEV_2022'].transform('sum')
resultados3['PIM2022_total'] = resultados3.groupby('CODIGOSIAF')['PIM_2022'].transform('sum')
resultados3['DEV2024_total'] = resultados3.groupby('CODIGOSIAF')['DEV_2024'].transform('sum')
resultados3['PIM2024_total'] = resultados3.groupby('CODIGOSIAF')['PIM_2024'].transform('sum')
resultados3['DEV2023_total'] = resultados3.groupby('CODIGOSIAF')['DEV_2023'].transform('sum')
resultados3['PIM2023_total'] = resultados3.groupby('CODIGOSIAF')['PIM_2023'].transform('sum')
resultados3.info()
resultados3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511785 entries, 0 to 511784
Columns: 177 entries, ID_PLIEGO to PIM2023_total
dtypes: category(11), float64(98), object(68)
memory usage: 653.5+ MB

,ID_PLIEGO,CODIGOSIAF,PIA_2023,PIM_2023,DEV_2023,ACM_DEV_AL2023,PIA_2024,PIM_2024,CERT_2024,COMP_2024,...,Disp_legal,match_displegal,MONTO_F12B,match_fisf,DEV2022_total,PIM2022_total,DEV2024_total,PIM2024_total,DEV2023_total,PIM2023_total
0,01001003,2478903,0.0,32905.0,32904.21,1860869.7,0.0,0.0,0.00,0.00,...,NaN,left_only,NaN,left_only,843620.43,876528.0,0.00,0.0,32904.21,32905.0
1,01001003,2549956,0.0,1302160.0,1302157.86,1302157.86,0.0,0.0,0.00,0.00,...,NaN,left_only,0.00,both,0.00,0.0,0.00,0.0,1302157.86,1302160.0
2,01001003,2572507,0.0,3042292.0,2957024.48,2201875.48,0.0,3000000.0,755466.77,678466.77,...,NaN,left_only,3000000.00,both,0.00,0.0,95266.77,3000000.0,2957024.48,3042292.0
3,01001003,2604045,0.0,0.0,0.00,31152.27,11100442.0,11100442.0,0.00,0.00,...,NaN,left_only,48973519.68,both,0.00,0.0,0.00,11100442.0,31152.27,200000.0
4,99451,2604045,0.0,200000.0,31152.27,31152.27,0.0,0.0,0.00,0.00,...,NaN,left_only,48973519.68,both,0.00,0.0,0.00,11100442.0,31152.27,200000.0

In [32]:
# Reemplazar ACM_DEV_AL2023

resultados3['COSTO_ACTUAL_BCO'] = resultados3['COSTO_ACTUAL_BCO'].fillna(0)
resultados3.loc[resultados3['COSTO_ACTUAL_BCO'] == 0, 'ACM_DEV_AL2023'] = 0
resultados3.loc[resultados3['match_str2023'] == 'left_only', 'ACM_DEV_AL2023'] = resultados3['ACM_DEV_AL2022'] + resultados3['DEV2023_total']

# Reemplazar FUNCION_BCO
resultados3.loc[resultados3['CODIGOSIAF'] == '2001621', 'FUNCION_BCO'] = " "

# Calcular EJECUCION
resultados3['DEV2024_total'] = resultados3['DEV2024_total'].fillna(np.nan)
resultados3['ACM_DEV_AL2023'] = resultados3['ACM_DEV_AL2023'].fillna(np.nan)
resultados3['COSTO_ACTUAL_BCO'] = resultados3['COSTO_ACTUAL_BCO'].fillna(np.nan)
resultados3['EJECUCION'] = ((resultados3['ACM_DEV_AL2023'] + resultados3['DEV2024_total']) / resultados3['COSTO_ACTUAL_BCO'])

resultados3['COSTO_ACTUAL_BCO'] = resultados3['COSTO_ACTUAL_BCO'].fillna(0)

# Generar AVANCE_EJEC 
resultados3['EJECUCION'] = resultados3['EJECUCION'].fillna(0)
resultados3['AVANCE_EJEC'] = np.where(resultados3['EJECUCION'] == 0,  "1. 0%",
                                  np.where((resultados3['EJECUCION'] > 0) & (resultados3['EJECUCION'] <= 0.1),  "2. 1% a 10%",
                                           np.where((resultados3['EJECUCION'] > 0.1) & (resultados3['EJECUCION'] <= 0.2),  "3. 11% a 20%",
                                                    np.where((resultados3['EJECUCION'] > 0.2) & (resultados3['EJECUCION'] <= 0.4),  "4. 21% a 40%",
                                                             np.where((resultados3['EJECUCION'] > 0.4) & (resultados3['EJECUCION'] <= 0.6), "5. 41% a 60%",
                                                                      np.where((resultados3['EJECUCION'] > 0.8) & (resultados3['EJECUCION'] < 1),  "7. 81% a 99%",
                                                                               np.where(resultados3['EJECUCION'] >= 1,   "8. 100%", " ")))))))

# Generar variables adicionales 
resultados3['DEV_2024'] = resultados3['DEV_2024'].fillna(0)
resultados3['PIM_2024'] = resultados3['PIM_2024'].fillna(0)
resultados3['COMP_2024'] = resultados3['COMP_2024'].fillna(0)
resultados3['ejec_devpim24'] = resultados3['DEV_2024'] / resultados3['PIM_2024']
resultados3['ejec_comppim24'] = resultados3['COMP_2024'] / resultados3['PIM_2024']
resultados3['PENDIENTE_TOT_PIM24'] = resultados3['COSTO_ACTUAL_BCO'] - resultados3['ACM_DEV_AL2023'] - resultados3['PIM2024_total']
resultados3.loc[resultados3['PENDIENTE_TOT_PIM24'] < 0, 'PENDIENTE_TOT_PIM24'] = 0
resultados3.loc[resultados3['COSTO_ACTUAL_BCO'] == 0, 'PENDIENTE_TOT_PIM24'] = 0

resultados3['PENDIENTE_TOT_DEV24'] = resultados3['COSTO_ACTUAL_BCO'] - resultados3['ACM_DEV_AL2023'] - resultados3['DEV2024_total']
resultados3.loc[resultados3['PENDIENTE_TOT_DEV24'] < 0, 'PENDIENTE_TOT_DEV24'] = 0
resultados3.loc[resultados3['COSTO_ACTUAL_BCO'] == 0, 'PENDIENTE_TOT_DEV24'] = 0

# Generar desempeño_d
resultados3['ejec_devpim24'] = resultados3['ejec_devpim24'].fillna(0)
resultados3['desempeño_dev24'] = np.where((resultados3['ejec_devpim24'] > 0.8) & (resultados3['ejec_devpim24'].notna()),  '1. Verde (más de 80%)',
                                          np.where((resultados3['ejec_devpim24'] <= 0.8) & (resultados3['ejec_comppim24'] >=0.4) & (resultados3['ejec_devpim24'].notna()), '2. Ámbar (entre 40% y 80%)',
                                                   np.where((resultados3['ejec_devpim24'] <0.4) & (resultados3['ejec_devpim24'].notna()), '3. Rojo (menos de 40%)', " ")))

# Generar desempeño_comp24 
resultados3['ejec_comppim24'] = resultados3['ejec_comppim24'].fillna(0)
resultados3['desempeño_comp24'] = np.where((resultados3['ejec_comppim24'] > 0.8) & (resultados3['ejec_comppim24'].notna()),  '1. Verde (más de 80%)',
                                           np.where((resultados3['ejec_comppim24'] <= 0.8) & (resultados3['ejec_comppim24'] >=0.4) & (resultados3['ejec_comppim24'].notna()), '2. Ámbar (entre 40% y 80%)',
                                                    np.where((resultados3['ejec_comppim24'] <0.4) & (resultados3['ejec_comppim24'].notna()), '3. Rojo (menos de 40%)', " ")))
# Generar Alerta_cierre 
resultados3['Alerta_cierre'] = np.where((resultados3['EJECUCION']>=0.95) & (resultados3['CERRADO_BCO']=="NO"),  'SI', "NO")

lista_col1= ['anexoIV_2024', 'anexoII_2024', 'anexoVI_2024']
for colum in lista_col1:
    resultados3[colum]=resultados3[colum].apply(pd.to_numeric, errors='coerce')
    
lista_col2= ['MONTO_CONTINUIDAD_23', 'MONTO_FONDES_23', 'MONTO_DS_SECTOR_23', 'MONTO_REACTIVA_23', 'DSTOTAL_19',
                          'DSTOTAL_20', 'DSTOTAL_21', 'DSTOTAL_22', 'DSTOTAL_23', 'MONTO_FIDT_23', 'MONTO_ANEXOII',
                          'anexoIII_2021', 'anexoIII_2023', 'anexoIV_2023', 'anexoIV_2024', 'anexoII_2024', 'anexoVI_2024']
for column in lista_col2:
    resultados3[column]=resultados3[column].replace(np.nan, 0)
    

# Genera fidt33 
resultados3['fidt33'] = resultados3['MONTO_FIDT_20'] + resultados3['anexoII_2021'] + resultados3['MONTO_FIDT_22'] + resultados3['MONTO_FIDT_23']
resultados3['fidt33'] = resultados3['fidt33'].replace(np.nan, 0)
# Genera pats33 
resultados3['pats33'] = resultados3['MONTO_PATS_21'] + resultados3['MONTO_PATS_22'] 
resultados3['pats33'] = resultados3['pats33'].fillna(0)

# Reemplazar 'tipo_cartera' 
resultados3['tipo_cartera'] = resultados3['tipo_cartera'].fillna(" ")
resultados3['tipo_cartera'] = np.where(resultados3['CODIGOSIAF'] == 2001621 & (resultados3['tipo_cartera'].str.contains("FONDES")) & ((resultados3['MONTO_FONDES_19'] + resultados3['MONTO_FONDES_20'] + resultados3['MONTO_FONDES_21'] + resultados3['MONTO_FONDES_22'] + resultados3['MARCO_FONDES23'] + resultados3['MONTO_ANEXO2'] + resultados3['MONTO_ANEXOII'] + resultados3['anexoIII_2021']) <= 0)," ",
                                       np.where(((resultados3['TIPO_PROYECTO'] == "F. PROYECTOS CON FUR (IRI)") & (resultados3['tipo_cartera'] == " ")) | (resultados3['CODIGOSIAF'] == 2089754), "3. FONDES",
                                                np.where((resultados3['anexoIII_2023'] > 0) & (resultados3['tipo_cartera'] == " "), "3. FONDES", 
                                                         np.where((resultados3['anexoIV_2023'] > 0) & (resultados3['tipo_cartera'] == " "),"3. FONDES",
                                                                  np.where((resultados3['anexoIV_2024'] > 0) & (resultados3['tipo_cartera'] == " "),"3. FONDES",
                                                                            np.where(((resultados3['MONTO_DS_SECTOR_19'] + resultados3['MONTO_DS_SECTOR_20'] + resultados3['MONTO_ANEXO1'] +  resultados3['MONTO_ANEXOI'] + resultados3['anexoI_2021'] + resultados3['MONTO_DS_SECTOR_21'] +  resultados3['anexoI_2022'] + resultados3['MONTO_DS_SECTOR_22'] + resultados3['MONTO_DS_SECTOR_23'] + resultados3['anexoII_2024'] + resultados3['anexoVI_2024']) > 0) & (resultados3['tipo_cartera'] == " "),"2. Transferencias",
                                                                                      np.where((resultados3['MONTO_REACTIVA_20'] + resultados3['MONTO_REACTIVA_21'] + resultados3['MONTO_REACTIVA_22'] + resultados3['MONTO_REACTIVA_23'] > 0),"4. Reactivación", 
                                                                                               np.where(resultados3['pats33'] > 0 ,"6. PATS", 
                                                                                                        np.where(resultados3['fidt33'] > 0 ,"5. FIDT",
                                                                                                                 np.where((resultados3['tipo_cartera'] == " ") | (resultados3['CODIGOSIAF'] == 2001621), "1. Inversiones propias", resultados3['tipo_cartera']))))))))))



# Reemplazar 'tipo_cartera' 
resultados3['ESTADO_OXI'] = resultados3['ESTADO_OXI'].fillna(' ')
resultados3['NombreAPP'] = resultados3['NombreAPP'].fillna(' ')
resultados3['OXI_APP'] = np.where(resultados3['ESTADO_OXI'] != ' ' ,"1. OXI",
                                  np.where(resultados3['NombreAPP'] != ' ', "2. APP", 
                                           np.where((resultados3['NombreAPP'] != ' ') & (resultados3['ESTADO_OXI'] != ' '), "3. OXI Y APP", ' ')))
                                           
# Reemplazar los valores iguales a 0 con NaN
resultados3['COSTO_ACTUAL_BCO'] = resultados3['COSTO_ACTUAL_BCO'].replace(0, float('nan'))
   

# Crear CATEGORIA_ESTADO
resultados3['SITUACION_BCO'] = resultados3['SITUACION_BCO'].fillna(' ')
resultados3['CATEGORIA_ESTADO'] = np.where((resultados3['SITUACION_BCO'] == 'EN EVALUACION') & (resultados3['ESTADO_BCO'] == 'ACTIVO'), '1. En formulación', 
                                           np.where((resultados3['SITUACION_BCO'] != ' ') & (resultados3['SITUACION_BCO'] != 'EN EVALUACION') & (resultados3['ESTADO_BCO'] == 'ACTIVO') & (resultados3['ACM_DEV_AL2023'] > 0) & (resultados3['EXP_TCO_BCO'] == 'NO'), '4. Viable con avance financiero',
                                                    np.where((resultados3['SITUACION_BCO'] != ' ') & (resultados3['SITUACION_BCO'] != 'EN EVALUACION') &   (resultados3['ESTADO_BCO'] == 'ACTIVO') & (resultados3['ACM_DEV_AL2023'] == 0) & (resultados3['EXP_TCO_BCO'] == 'NO'), '5. Viable sin avance financiero',  
                                                             np.where((resultados3['SITUACION_BCO'] != ' ') & (resultados3['ESTADO_BCO'] == 'ACTIVO') & (resultados3['EXP_TCO_BCO'] == 'SÍ') & (resultados3['EJECUCION'] <= 0.1), '6. Con ET',
                                                                      np.where((resultados3['SITUACION_BCO'] != '') & (resultados3['ESTADO_BCO'] == 'ACTIVO') & (resultados3['EJECUCION'] > 0.1) & (resultados3['EJECUCION'] < 0.95) & (resultados3['EXP_TCO_BCO'] == 'SÍ'), '7. En ejecución',
                                                                                np.where((resultados3['CERRADO_BCO'] == 'NO') & (resultados3['EJECUCION'] >= 0.95) & (resultados3['EJECUCION'] != " "), '8. Sin Formato de Cierre',
                                                                                         np.where(resultados3['ESTADO_BCO'].str.contains('DESACTIVADO'), '1. Desactivado',
                                                                                                  np.where(resultados3['ESTADO_BCO'] == 'CERRADO',  '1. Cerrado',
                                                                                                           np.where(resultados3['TIPO_PROYECTO'].str.contains('PROYECTO GENERICO'),  '0. Proyectos Genéricos',
                                                                                                                    np.where(resultados3['TIPO_PROYECTO'].str.contains('PROYECTO EXONERADO POR DS'), '0. Exonerado',
                                                                                                                             np.where((resultados3['TIPO_PROYECTO'].str.contains('PROYECTO DE GESTION Y OTROS') & ((resultados3['COSTO_ACTUAL_BCO'].isin({0, np.nan})))), '0. Gestión',
                                                                                                                                           np.where(resultados3['TIPO_PROYECTO'].str.contains('PROYECTOS DE PROCOMPITE'), '0. Procompite', '0. Otros'))))))))))))
# Crear SECTOR_TRANSF
resultados3['SECTOR_TRANSF'] = "0"

sectors = ["MINAGRI", "MINEDU", "MINSA", "MTC", "MVCS", "IPD", "MINCETUR", "MINCUL", "MINAM", "MININTER"]

resultados3['HABILITADORES_19'] = resultados3['HABILITADORES_19'].fillna('0')
resultados3['HABILITADORES_20'] = resultados3['HABILITADORES_20'].fillna('0')
resultados3['HABILITADORES_21'] = resultados3['HABILITADORES_21'].fillna('0')
resultados3['HABILITADORES_22'] = resultados3['HABILITADORES_22'].fillna('0')
resultados3['HABILITADORES_23'] = resultados3['HABILITADORES_23'].fillna('0')

for sect in sectors:
    resultados3["SECTOR_TRANSF"] = np.where((resultados3['HABILITADORES_19'].str.contains(sect))&(resultados3['SECTOR_TRANSF'] == "0"), sect, resultados3["SECTOR_TRANSF"])
    resultados3["SECTOR_TRANSF"] = np.where((resultados3['HABILITADORES_20'].str.contains(sect))&(resultados3['SECTOR_TRANSF'] == "0"), sect, resultados3["SECTOR_TRANSF"])
    resultados3["SECTOR_TRANSF"] = np.where((resultados3['HABILITADORES_21'].str.contains(sect))&(resultados3['SECTOR_TRANSF'] == '0'), sect, resultados3["SECTOR_TRANSF"])
    resultados3["SECTOR_TRANSF"] = np.where((resultados3['HABILITADORES_22'].str.contains(sect))&(resultados3['SECTOR_TRANSF'] == '0'), sect, resultados3["SECTOR_TRANSF"])
    resultados3["SECTOR_TRANSF"] = np.where((resultados3['HABILITADORES_23'].str.contains(sect))&(resultados3['SECTOR_TRANSF'] == '0'), sect, resultados3["SECTOR_TRANSF"])


# Reemplazar SECTOR_TRANSF
resultados3['SECTOR_TRANSF'] = resultados3['SECTOR_TRANSF'].fillna('0')
resultados3['SECTOR_TRANSF'] = np.where((resultados3[['MONTO_DS_SECTOR_21', 'MONTO_ANEXO1', 'MONTO_ANEXOI', 'anexoI_2021', 'anexoI_2022', 'MONTO_DS_SECTOR_22', 'MONTO_DS_SECTOR_23']].sum(axis=1)== 0)&(resultados3['SECTOR_TRANSF'])== '0', '0', 
                                        np.where((resultados3[['MONTO_DS_SECTOR_21', 'MONTO_ANEXO1', 'MONTO_ANEXOI', 'anexoI_2021', 'anexoI_2022', 'MONTO_DS_SECTOR_22', 'MONTO_DS_SECTOR_23']].sum(axis=1)> 0)&resultados3['FUNCION_BCO'].str.contains('EDUCA')&(resultados3['SECTOR_TRANSF'] == '0'), 'MINEDU',
                                                 np.where((resultados3[['MONTO_DS_SECTOR_21', 'MONTO_ANEXO1', 'MONTO_ANEXOI', 'anexoI_2021', 'anexoI_2022', 'MONTO_DS_SECTOR_22', 'MONTO_DS_SECTOR_23']].sum(axis=1)> 0)&(resultados3['FUNCION_BCO'].str.contains('SANEAM'))&(resultados3['SECTOR_TRANSF'] == '0'),'MVCS', 
                                                          np.where((resultados3[['MONTO_DS_SECTOR_21', 'MONTO_ANEXO1', 'MONTO_ANEXOI', 'anexoI_2021', 'anexoI_2022', 'MONTO_DS_SECTOR_22', 'MONTO_DS_SECTOR_23']].sum(axis=1)> 0)&(resultados3['FUNCION_BCO'].str.contains('TRANSPOR'))&(resultados3['SECTOR_TRANSF'] == '0'),'MTC',
                                                                   np.where((resultados3[['MONTO_DS_SECTOR_21', 'MONTO_ANEXO1', 'MONTO_ANEXOI', 'anexoI_2021', 'anexoI_2022', 'MONTO_DS_SECTOR_22', 'MONTO_DS_SECTOR_23']].sum(axis=1)> 0)&(resultados3['FUNCION_BCO'].str.contains('CULTUR'))&(resultados3['SECTOR_TRANSF'] == '0'),'MINCUL',
                                                                            np.where((resultados3[['MONTO_DS_SECTOR_21', 'MONTO_ANEXO1', 'MONTO_ANEXOI', 'anexoI_2021', 'anexoI_2022', 'MONTO_DS_SECTOR_22', 'MONTO_DS_SECTOR_23']].sum(axis=1)> 0)&(resultados3['FUNCION_BCO'].str.contains('COMER'))&(resultados3['SECTOR_TRANSF'] == '0'), 'PRODUCE', resultados3['SECTOR_TRANSF']))))))

resultados3['SECTOR_TRANSF'] = resultados3['SECTOR_TRANSF'].replace({'0':''}) 
resultados3['HABILITADORES_22'] = resultados3['HABILITADORES_22'].replace({'0':''}) 
resultados3['HABILITADORES_23'] = resultados3['HABILITADORES_23'].replace({'0':''}) 

# Reemplazar variables MONTO_CONTRATO y PEND_CONTR
resultados3['MONTO_CONTRATO'] = resultados3['MONTO_CONTRATO_2'] + resultados3['MONTO_CONTRATO']
resultados3['PEND_CONTR'] = resultados3['MONTO_CONTRATO_2'] + resultados3['PEND_CONTR']

                                                                   
# Reemplazar variables PEND_CONTR y PEND_CONTR
resultados3['PEND_CONTR'] = np.where(resultados3['ESTADO_BCO'].isin({'CERRADO', 'DESACTIVADO'})| 
                                     ((resultados3['EJECUCION'] > 0.95) & (resultados3['EJECUCION']== ' '))| 
                                     (np.abs(resultados3['MONTO_CONTRATO'] - resultados3['ACM_DEV_AL2023'] - resultados3['DEV2024_total']) < 1000),
                                     0, resultados3['PEND_CONTR'])

resultados3['MONTO_PROCESO'] = np.where(resultados3['ESTADO_BCO'].isin({'CERRADO', 'DESACTIVADO'}) | 
                                        ((resultados3['EJECUCION'] > 0.95) & (resultados3['EJECUCION']== ' ')) | 
                                        (np.abs(resultados3['MONTO_CONTRATO'] + resultados3['MONTO_PROCESO'] - resultados3['ACM_DEV_AL2023'] - resultados3['DEV2024_total']) < 1000),
                                        0, resultados3['MONTO_PROCESO'])                                                                      

# Reemplazar variable Estado_SEACE
resultados3['PEND_CONTR'] = resultados3['PEND_CONTR'].fillna(0)
resultados3['MONTO_PROCESO'] = resultados3['MONTO_PROCESO'].fillna(0)
resultados3['Estado_SEACE'] = np.where((resultados3['PEND_CONTR'] == 0) & (resultados3['MONTO_PROCESO'] > 0), "GRUPO 2: CON CONVOCATORIA",
                                       np.where((resultados3['PEND_CONTR'] > 0) & (resultados3['MONTO_PROCESO'] == 0), "GRUPO 1: CON CONTRATO",
                                                np.where((resultados3['PEND_CONTR'] == 0)&(resultados3['MONTO_PROCESO'] == 0), "GRUPO 3: SIN CONTRATO NI CONVOCATORIA",
                                                         np.where((resultados3['PEND_CONTR'] > 0) & (resultados3['MONTO_PROCESO'] > 0) & (resultados3['MONTO_PROCESO'] > resultados3['PEND_CONTR']), "GRUPO 2: CON CONVOCATORIA",
                                                                  np.where((resultados3['PEND_CONTR'] > 0) & (resultados3['MONTO_PROCESO'] > 0) & (resultados3['MONTO_PROCESO'] < resultados3['PEND_CONTR']), "GRUPO 1: CON CONTRATO", " ")))))

# Reemplazar variable Disp_legal
resultados3['Disp_legal'] = resultados3['Disp_legal'].fillna(" ")
resultados3['MONTO_PCM'] = resultados3['MONTO_PCM'].fillna(0)
resultados3['Disp_legal'] = np.where((resultados3['Disp_legal'] == " ") & (resultados3['MONTO_PCM'] > 0), "PCM 2020", 
                                     np.where((resultados3['Disp_legal'] != " ") & (resultados3['MONTO_PCM'] > 0), resultados3['Disp_legal'] + " + PCM 2020", resultados3['Disp_legal']))                                  


resultados3.info()
resultados3.head()

C:\Users\jchamba\AppData\Local\Temp\ipykernel_6620\1056788968.py:54: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  resultados3['Alerta_cierre'] = np.where((resultados3['EJECUCION']>=0.95) & (resultados3['CERRADO_BCO']=="NO"),  'SI', "NO")
C:\Users\jchamba\AppData\Local\Temp\ipykernel_6620\1056788968.py:68: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  resultados3['fidt33'] = resultados3['MONTO_FIDT_20'] + resultados3['anexoII_2021'] + resultados3['MONTO_FIDT_22'] + resultados3['MONTO_FIDT_23']
C:\Users\jchamba\AppData\Local\Temp\ipykernel_6620\1056788968.py:71: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  resultados3['pats33'] = resultados3['MONTO_PATS_21'] + resultados3['MONTO_PATS_22']
C:\Users\jchamba\AppData\Local\Temp\ipykernel_6620\1056788968.py:92: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  resultados3['OXI_APP'] = np.where(resultados3['ESTADO_OXI'] != ' ' ,"1. OXI",
C:\Users\jchamba\AppData\Local\Temp\ipykernel_6620\1056788968.py:102: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  resultados3['CATEGORIA_ESTADO'] = np.where((resultados3['SITUACION_BCO'] == 'EN EVALUACION') & (resultados3['ESTADO_BCO'] == 'ACTIVO'), '1. En formulación',
C:\Users\jchamba\AppData\Local\Temp\ipykernel_6620\1056788968.py:115: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  resultados3['SECTOR_TRANSF'] = "0"
C:\Users\jchamba\AppData\Local\Temp\ipykernel_6620\1056788968.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  resultados3['Estado_SEACE'] = np.where((resultados3['PEND_CONTR'] == 0) & (resultados3['MONTO_PROCESO'] > 0), "GRUPO 2: CON CONVOCATORIA",

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511785 entries, 0 to 511784
Columns: 192 entries, ID_PLIEGO to Estado_SEACE
dtypes: category(11), float64(106), object(75)
memory usage: 712.1+ MB

,ID_PLIEGO,CODIGOSIAF,PIA_2023,PIM_2023,DEV_2023,ACM_DEV_AL2023,PIA_2024,PIM_2024,CERT_2024,COMP_2024,...,PENDIENTE_TOT_DEV24,desempeño_dev24,desempeño_comp24,Alerta_cierre,fidt33,pats33,OXI_APP,CATEGORIA_ESTADO,SECTOR_TRANSF,Estado_SEACE
0,01001003,2478903,0.0,32905.0,32904.21,1860869.70,0.0,0.0,0.00,0.00,...,0.00,3. Rojo (menos de 40%),3. Rojo (menos de 40%),NO,0.0,0.0,,1. Cerrado,,GRUPO 3: SIN CONTRATO NI CONVOCATORIA
1,01001003,2549956,0.0,1302160.0,1302157.86,1302157.86,0.0,0.0,0.00,0.00,...,0.00,3. Rojo (menos de 40%),3. Rojo (menos de 40%),NO,0.0,0.0,,1. Cerrado,,GRUPO 3: SIN CONTRATO NI CONVOCATORIA
2,01001003,2572507,0.0,3042292.0,2957024.48,2201875.48,0.0,3000000.0,755466.77,678466.77,...,32946431.04,3. Rojo (menos de 40%),3. Rojo (menos de 40%),NO,0.0,0.0,,6. Con ET,,GRUPO 3: SIN CONTRATO NI CONVOCATORIA
3,01001003,2604045,0.0,0.0,0.00,31152.27,11100442.0,11100442.0,0.00,0.00,...,48973519.68,3. Rojo (menos de 40%),3. Rojo (menos de 40%),NO,0.0,0.0,,6. Con ET,,GRUPO 3: SIN CONTRATO NI CONVOCATORIA
4,99451,2604045,0.0,200000.0,31152.27,31152.27,0.0,0.0,0.00,0.00,...,48973519.68,3. Rojo (menos de 40%),3. Rojo (menos de 40%),NO,0.0,0.0,,6. Con ET,,GRUPO 3: SIN CONTRATO NI CONVOCATORIA

In [33]:
resultados3.sort_values(by=['PLIEGO', 'CODIGOSIAF'], inplace=True)

# Mantener filas donde la suma de las columnas especificadas sea mayor que 0
resultados3 = resultados3[resultados3['PIA_2022'] + resultados3['PIM_2022'] + resultados3['PIA_2023'] + resultados3['PIM_2023'] + resultados3['PIA_2024'] + resultados3['PIM_2024'] > 0]

# Eliminar las filas donde SECTOR contenga "97". o "98".
resultados3 = resultados3[~resultados3['SECTOR'].str.contains("97\.|98\.", regex=True)]
# Seleccionar variables que utilizaremos 
resultados3 = resultados3[[ 'NIVEL_GOB', 'ID_PLIEGO', 'SECTOR', 'PLIEGO', 'EJECUTORA', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'CODIGOSIAF',
                            'NOMBRE_PROYECTO', 'FUNCION_BCO', 'TIPO_PROYECTO', 'tipo_cartera', 'OXI_APP', 'CATEGORIA_ESTADO', 'CERRADO_BCO',
                            'ESTADO_BCO', 'SITUACION_BCO', 'EXP_TCO_BCO', 'Alerta_cierre', 'COSTO_ACTUAL_BCO', 'ACM_DEV_AL2023', 'PIA_2022',
                            'PIM_2022', 'DEV_2022', 'PIA_2023', 'PIM_2023', 'DEV_2023', 'PIA_2024', 'PIM_2024', 'CERT_2024', 'COMP_2024',
                            'DEV_2024', 'PIM2024_total', 'EJECUCION', 'AVANCE_EJEC', 'PENDIENTE_TOT_PIM24', 'PENDIENTE_TOT_DEV24',
                            'desempeño_dev24', 'ejec_devpim24', 'desempeño_comp24', 'ejec_comppim24', 'HABILITADORES_22', 'Dispositivo1_22',
                            'Dispositivo2_22', 'Dispositivo3_22', 'Dispositivo4_22', 'Dispositivo5_22', 'Dispositivo6_22',
                            'MONTO_CONTINUIDAD_22', 'MONTO_FONDES_22', 'MONTO_DS_SECTOR_22', 'MONTO_REACTIVA_22', 'MONTO_FIDT_22',
                            'MONTO_PATS_22', 'MONTO_PREVISION_22', 'MONTO_Ley31436_22', 'MONTO_45DCF_22', 'MONTO_FESC_22', 'MONTO_AJUSTEANX2_22',
                            'MONTO_Ley31538_22', 'DSTOTAL_22', 'anexoI_2022', 'anexoII_2022', 'anexoI_2023', 'anexoII_2023', 'anexoIII_2023',
                            'anexoIV_2023', 'HABILITADORES_23', 'Dispositivo1_23', 'Dispositivo2_23', 'Dispositivo3_23', 'Dispositivo4_23',
                            'Dispositivo5_23', 'Dispositivo6_23', 'MONTO_CONTINUIDAD_23', 'MONTO_FONDES_23', 'MONTO_DS_SECTOR_23',
                            'MONTO_REACTIVA_23', 'MONTO_FIDT_23', 'DSTOTAL_23', 'anexoI_2024', 'anexoII_2024', 'anexoIV_2024', 'anexoVI_2024',
                            'SECTOR_TRANSF', 'Estado_SEACE', 'MONTO_CONTRATO', 'PEND_CONTR', 'MONTO_PROCESO', 'Disp_legal', 'MONTO_F12B',
                            'AVANCE_FISICO']]

resultados3.sort_values(by=['NIVEL_GOB', 'ID_PLIEGO', 'PIM_2024'], ascending=[True, True, False], inplace=True)
resultados3.info()
resultados3.head()

<class 'pandas.core.frame.DataFrame'>
Index: 116300 entries, 3 to 73133
Data columns (total 93 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   NIVEL_GOB             116300 non-null  object
 1   ID_PLIEGO             116300 non-null  object
 2   SECTOR                116300 non-null  object
 3   PLIEGO                116300 non-null  object
 4   EJECUTORA             116300 non-null  object
 5   DEPARTAMENTO          116300 non-null  object
 6   PROVINCIA             116300 non-null  object
 7   DISTRITO              116300 non-null  object
 8   CODIGOSIAF            116300 non-null  object
 9   NOMBRE_PROYECTO       116300 non-null  object
 10  FUNCION_BCO           116300 non-null  object
 11  TIPO_PROYECTO         116300 non-null  object
 12  tipo_cartera          116300 non-null  object
 13  OXI_APP               116300 non-null  object
 14  CATEGORIA_ESTADO      116300 non-null  object
 15  CERRADO_BCO           116300 non-null  object
 16  ESTADO_BCO            116300 non-null  object
 17  SITUACION_BCO         116300 non-null  object
 18  EXP_TCO_BCO           116300 non-null  object
 19  Alerta_cierre         116300 non-null  object
 20  COSTO_ACTUAL_BCO      104794 non-null  float64
 21  ACM_DEV_AL2023        116300 non-null  float64
 22  PIA_2022              116300 non-null  float64
 23  PIM_2022              116300 non-null  float64
 24  DEV_2022              116300 non-null  float64
 25  PIA_2023              116300 non-null  float64
 26  PIM_2023              116300 non-null  float64
 27  DEV_2023              116300 non-null  float64
 28  PIA_2024              116300 non-null  float64
 29  PIM_2024              116300 non-null  float64
 30  CERT_2024             116300 non-null  float64
 31  COMP_2024             116300 non-null  float64
 32  DEV_2024              116300 non-null  float64
 33  PIM2024_total         116300 non-null  float64
 34  EJECUCION             116300 non-null  float64
 35  AVANCE_EJEC           116300 non-null  object
 36  PENDIENTE_TOT_PIM24   116300 non-null  float64
 37  PENDIENTE_TOT_DEV24   116300 non-null  float64
 38  desempeño_dev24       116300 non-null  object
 39  ejec_devpim24         116300 non-null  float64
 40  desempeño_comp24      116300 non-null  object
 41  ejec_comppim24        116300 non-null  float64
 42  HABILITADORES_22      116300 non-null  object
 43  Dispositivo1_22       3607 non-null    object
 44  Dispositivo2_22       3607 non-null    object
 45  Dispositivo3_22       3607 non-null    object
 46  Dispositivo4_22       3607 non-null    object
 47  Dispositivo5_22       3607 non-null    object
 48  Dispositivo6_22       3607 non-null    object
 49  MONTO_CONTINUIDAD_22  116300 non-null  float64
 50  MONTO_FONDES_22       116300 non-null  float64
 51  MONTO_DS_SECTOR_22    116300 non-null  float64
 52  MONTO_REACTIVA_22     116300 non-null  float64
 53  MONTO_FIDT_22         116300 non-null  float64
 54  MONTO_PATS_22         116300 non-null  float64
 55  MONTO_PREVISION_22    116300 non-null  float64
 56  MONTO_Ley31436_22     116300 non-null  float64
 57  MONTO_45DCF_22        116300 non-null  float64
 58  MONTO_FESC_22         116300 non-null  float64
 59  MONTO_AJUSTEANX2_22   116300 non-null  float64
 60  MONTO_Ley31538_22     116300 non-null  float64
 61  DSTOTAL_22            116300 non-null  float64
 62  anexoI_2022           116300 non-null  float64
 63  anexoII_2022          116300 non-null  float64
 64  anexoI_2023           116300 non-null  float64
 65  anexoII_2023          116300 non-null  float64
 66  anexoIII_2023         116300 non-null  float64
 67  anexoIV_2023          116300 non-null  float64
 68  HABILITADORES_23      116300 non-null  object
 69  Dispositivo1_23       1955 non-null    object
 70  Dispositivo2_23       1955 non-null    object
 71  Dispositivo3_23       1955 non-null    object
 72  Dispositivo4_23       1955 non-null    object
 73  Dispositivo5_23       1955 non-null    object
 74  Dispositivo6_23       1955 non-null    object
 75  MONTO_CONTINUIDAD_23  116300 non-null  float64
 76  MONTO_FONDES_23       116300 non-null  float64
 77  MONTO_DS_SECTOR_23    116300 non-null  float64
 78  MONTO_REACTIVA_23     116300 non-null  float64
 79  MONTO_FIDT_23         116300 non-null  float64
 80  DSTOTAL_23            116300 non-null  float64
 81  anexoI_2024           42 non-null      object
 82  anexoII_2024          116300 non-null  float64
 83  anexoIV_2024          116300 non-null  float64
 84  anexoVI_2024          116300 non-null  float64
 85  SECTOR_TRANSF         116300 non-null  object
 86  Estado_SEACE          116300 non-null  object
 87  MONTO_CONTRATO        116300 non-null  float64
 88  PEND_CONTR            116300 non-null  float64
 89  MONTO_PROCESO         116300 non-null  float64
 90  Disp_legal            116300 non-null  object
 91  MONTO_F12B            44128 non-null   float64
 92  AVANCE_FISICO         112702 non-null  object
dtypes: float64(51), object(42)
memory usage: 83.4+ MB

,NIVEL_GOB,ID_PLIEGO,SECTOR,PLIEGO,EJECUTORA,DEPARTAMENTO,PROVINCIA,DISTRITO,CODIGOSIAF,NOMBRE_PROYECTO,...,anexoIV_2024,anexoVI_2024,SECTOR_TRANSF,Estado_SEACE,MONTO_CONTRATO,PEND_CONTR,MONTO_PROCESO,Disp_legal,MONTO_F12B,AVANCE_FISICO
3,1. GOBIERNO NACIONAL,01001003,01. PRESIDENCIA CONSEJO MINISTROS,001. PRESIDENCIA DEL CONSEJO DE MINISTROS,003. SECRETARIA GENERAL - PCM,LA LIBERTAD,TRUJILLO,TRUJILLO,2604045,MEJORAMIENTO DE LOS SERVICIOS OPERATIVOS O MIS...,...,0.0,11100442.0,,GRUPO 3: SIN CONTRATO NI CONVOCATORIA,0.00,0.0,0.0,,48973519.68,
2,1. GOBIERNO NACIONAL,01001003,01. PRESIDENCIA CONSEJO MINISTROS,001. PRESIDENCIA DEL CONSEJO DE MINISTROS,003. SECRETARIA GENERAL - PCM,LIMA,LIMA,MIRAFLORES,2572507,MEJORAMIENTO DE LOS SERVICIOS OPERATIVOS O MIS...,...,0.0,0.0,,GRUPO 3: SIN CONTRATO NI CONVOCATORIA,0.00,0.0,0.0,,3000000.00,6.99
84647,1. GOBIERNO NACIONAL,01001003,01. PRESIDENCIA CONSEJO MINISTROS,001. PRESIDENCIA DEL CONSEJO DE MINISTROS,003. SECRETARIA GENERAL - PCM,LIMA,LIMA,LIMA,2410948,CREACION DE LOS SERVICIOS DE ATENCION AL CIUDA...,...,0.0,0.0,,GRUPO 3: SIN CONTRATO NI CONVOCATORIA,119195.34,0.0,0.0,,NaN,100.0
0,1. GOBIERNO NACIONAL,01001003,01. PRESIDENCIA CONSEJO MINISTROS,001. PRESIDENCIA DEL CONSEJO DE MINISTROS,003. SECRETARIA GENERAL - PCM,CAJAMARCA,CAJAMARCA,CAJAMARCA,2478903,CREACION DE LOS SERVICIOS INTEGRADOS DE ATENCI...,...,0.0,0.0,,GRUPO 3: SIN CONTRATO NI CONVOCATORIA,0.00,0.0,0.0,,NaN,53.18
84648,1. GOBIERNO NACIONAL,01001003,01. PRESIDENCIA CONSEJO MINISTROS,001. PRESIDENCIA DEL CONSEJO DE MINISTROS,003. SECRETARIA GENERAL - PCM,LIMA,LIMA,LIMA,2487062,ADQUISICION DE SWITCH Y ACCESS POINT; EN EL(LA...,...,0.0,0.0,,GRUPO 3: SIN CONTRATO NI CONVOCATORIA,0.00,0.0,0.0,,NaN,11.12

In [34]:
#df = pd.DataFrame()
#df['CODIGOSIAF'] = np.nan
#df.info()
#df.head()

In [ ]:
outputFile = os.path.join(r'Y:\Herramienta_Semáforo\Outputs','Base semáforo_' + fecha_corte + '_ppto20222024_GR_GL_GN_SF' + ".xlsx")
with pd.ExcelWriter(outputFile) as ew:
    resultados3.to_excel(ew, sheet_name="BASE_SEMAFORO", index = False)
    #df.to_excel(ew, sheet_name="Listado_CUI", index = False)
#%%